<div id="employeeInfo" class="bootstrap">
  <div class="container">
    <div class="form-detail">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="text-center">XE - {{viewModel.currentTruck.licensePlate}}</h2>
        </div>
      </div>
      <div class="row margin-top-20">
        <div class="col-sm-3">
          <p class="bold-text">Năm sản xuất:</p>
        </div>
        <div class="col-sm-9">
          <p>{{viewModel.currentTruck.yearOfManufacture}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <p class="bold-text">Nhãn hiệu:</p>
        </div>
        <div class="col-sm-9">
          <p>{{viewModel.currentTruck.brand}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <p class="bold-text">Tải trọng:</p>
        </div>
        <div class="col-sm-9">
          <p>{{viewModel.currentTruck.weight}} tấn</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <p class="bold-text">Số khung:</p>
        </div>
        <div class="col-sm-9">
          <p>{{viewModel.currentTruck.vin}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <p class="bold-text">Số máy:</p>
        </div>
        <div class="col-sm-9">
          <p>{{viewModel.currentTruck.engineNo}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <p class="bold-text">Tài xế chịu trách nhiệm:</p>
        </div>
        <div class="col-sm-9">
          <p>{{viewModel.getEmployeeName(viewModel.currentTruck.employeeId)}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <p class="bold-text">Tiền thanh toán hàng tháng:</p>
        </div>
        <div class="col-sm-9">
          <p>{{viewModel.currentTruck.monthlyPayment | currency: "" : 0}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <p class="bold-text">Ngày mua:</p>
        </div>
        <div class="col-sm-9">
          <p>{{viewModel.currentTruck.buyingDate}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <p class="bold-text">Ngày lưu hành:</p>
        </div>
        <div class="col-sm-9">
          <p>{{viewModel.currentTruck.startUsingDate}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <p class="bold-text">Bảo hiểm đến:</p>
        </div>
        <div class="col-sm-9">
          <p>{{viewModel.currentTruck.insuranceDate}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <p class="bold-text">Ngày đăng kiểm gần nhất:</p>
        </div>
        <div class="col-sm-9">
          <p>{{viewModel.currentTruck.checkDate}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <p class="bold-text">Cổ phần:</p>
        </div>
        <div class="col-sm-9">
          <p>{{viewModel.currentTruck.stock}}%</p>
        </div>
      </div>
    </div>

    <div class="row margin-bottom-20">
      <div class="col-sm-12">
        <button class="btn btn-default" data-ng-click="viewModel.$location.path('/ql-toa-hang/xe')">
          <span class="glyphicon glyphicon-arrow-left"></span>
          <span>Quay lại</span>
        </button>

        <button class="btn btn-default" data-ng-click="viewModel.$location.path('/ql-toa-hang/xe/sua/' + viewModel.currentTruck.id)">
          <span class="glyphicon glyphicon-pencil"></span>
          <span>Sửa xe</span>
        </button>

        <button class="btn btn-default" data-ng-click="viewModel.removeTruckInDetail(viewModel.currentTruck)">
          <span class="glyphicon glyphicon-trash"></span>
          <span>Xóa xe</span>
        </button>
      </div>
    </div>
  </div>
</div>