<div id="truckFormSection" class="bootstrap form">
	<div class="container">
		<form name="truckForm" class="form-horizontal">
      <div class="form-group">
        <div class="col-sm-12">
          <action-button-form
              form="truckForm"
              is-save-visible="viewModel.$location.path() === '/ql-toa-hang/xe/tao'"
              handle-save="viewModel.createTruck(viewModel.currentTruck)"
              is-save-or-edit-disabled="truckForm.$invalid || viewModel.isSubmitting"
              is-submitting="viewModel.isSubmitting"
              is-edit-visible="viewModel.$location.path() === '/ql-toa-hang/xe/sua/' + viewModel.currentTruck.id"
              handle-edit="viewModel.updateTruck(viewModel.currentTruck)"
              handle-cancel="viewModel.$location.path('/ql-toa-hang/xe')"
          />
        </div>
      </div>

      <div class="form-group margin-top-20">
        <label for="licensePlate" class="col-sm-2 control-label">Biển số xe <span class="required-symbol">*</span></label>
        <div class="col-sm-4" data-ng-class="{'has-error': truckForm.licensePlate.$touched && truckForm.licensePlate.$invalid}">
          <input id="licensePlate" name="licensePlate" class="form-control" type="text"
              data-ng-model="viewModel.currentTruck.licensePlate" required />
        </div>
        <div class="col-sm-4 validate-error">
          <span class="required-field" data-ng-if="truckForm.licensePlate.$touched && truckForm.licensePlate.$invalid">
          Biển số xe phải được nhập</span>
        </div>
      </div>

      <div class="form-group">
        <label for="yearOfManufacture" class="col-sm-2 control-label">Năm sản xuất</label>
        <div class="col-sm-4">
          <input id="yearOfManufacture" name="yearOfManufacture" class="form-control" type="number" pattern="[0-9]{4}"
              data-ng-model="viewModel.currentTruck.yearOfManufacture" />
        </div>
      </div>

      <div class="form-group">
        <label for="driverLicenseId" class="col-sm-2 control-label">Nhãn hiệu</label>
        <div class="col-sm-4">
          <input id="driverLicenseId" name="driverLicenseId" class="form-control" type="text"
              data-ng-model="viewModel.currentTruck.brand" />
        </div>
      </div>

      <div class="form-group">
        <label for="weight" class="col-sm-2 control-label">Tải trọng (tấn)</label>
        <div class="col-sm-4">
          <input id="weight" name="weight" class="form-control" type="number" data-ng-model="viewModel.currentTruck.weight" />
        </div>
      </div>

      <div class="form-group">
        <label for="vin" class="col-sm-2 control-label">Số khung</label>
        <div class="col-sm-4">
          <input id="vin" name="vin" class="form-control" type="text" data-ng-model="viewModel.currentTruck.vin" />
        </div>
      </div>

      <div class="form-group">
        <label for="engineNo" class="col-sm-2 control-label">Số máy</label>
        <div class="col-sm-4">
          <input id="engineNo" name="engineNo" class="form-control" type="text" data-ng-model="viewModel.currentTruck.engineNo" />
        </div>
      </div>

      <div class="form-group">
        <label for="employeeId" class="col-sm-2 control-label">Tài xế chịu trách nhiệm</label>
        <div class="col-sm-4">
          <select ui-select2 id="employeeId" class="form-control ui-select-2" data-ng-model="viewModel.currentTruck.employeeId">
            <option value="">--Chọn tài xế--</option>
            <option data-ng-repeat="employee in viewModel.employeeList" value="{{employee.id}}">{{employee.fullName}}</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label for="monthlyPayment" class="col-sm-2 control-label">Tiền thanh toán hàng tháng</label>
        <div class="col-sm-4">
          <input id="monthlyPayment" name="monthlyPayment" class="form-control" type="text"
              data-ng-model="viewModel.currentTruck.monthlyPaymentFormatted" maxlength="15"
              data-ng-change="viewModel.formatCurrency('monthlyPayment')" />
        </div>
      </div>

      <div class="form-group">
        <label for="buyingDate" class="col-sm-2 control-label">Ngày mua</label>
        <div class="col-sm-4">
          <datepicker class="date-picker" date-format="dd/MM/yyyy">
            <input id="buyingDate" class="form-control" name="buyingDate" type="text"
                data-ng-model="viewModel.currentTruck.buyingDate" />
          </datepicker>
        </div>
      </div>

      <div class="form-group">
        <label for="startUsingDate" class="col-sm-2 control-label">Ngày lưu hành</label>
        <div class="col-sm-4">
          <datepicker class="date-picker" date-format="dd/MM/yyyy">
            <input id="startUsingDate" class="form-control" name="startUsingDate" type="text"
                data-ng-model="viewModel.currentTruck.startUsingDate" />
          </datepicker>
        </div>
      </div>

      <div class="form-group">
        <label for="insuranceDate" class="col-sm-2 control-label">Bảo hiểm đến</label>
        <div class="col-sm-4">
          <datepicker class="date-picker" date-format="dd/MM/yyyy">
            <input id="insuranceDate" class="form-control" name="insuranceDate" type="text"
                data-ng-model="viewModel.currentTruck.insuranceDate" />
          </datepicker>
        </div>
      </div>

      <div class="form-group">
        <label for="checkDate" class="col-sm-2 control-label">Ngày đăng kiểm gần nhất</label>
        <div class="col-sm-4">
          <datepicker class="date-picker" date-format="dd/MM/yyyy">
            <input id="checkDate" class="form-control" name="checkDate" type="text" data-ng-model="viewModel.currentTruck.checkDate" />
          </datepicker>
        </div>
      </div>

      <div class="form-group">
        <label for="stock" class="col-sm-2 control-label">Cổ phần (%)</label>
        <div class="col-sm-4">
          <input id="stock" name="stock" class="form-control" type="number" data-ng-model="viewModel.currentTruck.stock" />
        </div>
      </div>

      <div class="form-group margin-top-20">
        <div class="col-sm-12">
          <action-button-form form="truckForm"
            is-save-visible="viewModel.$location.path() === '/ql-toa-hang/xe/tao'"
            handle-save="viewModel.createTruck(viewModel.currentTruck)"
            is-save-or-edit-disabled="truckForm.$invalid || viewModel.isSubmitting"
            is-submitting="viewModel.isSubmitting"
            is-edit-visible="viewModel.$location.path() === '/ql-toa-hang/xe/sua/' + viewModel.currentTruck.id"
            handle-edit="viewModel.updateTruck(viewModel.currentTruck)"
            handle-cancel="viewModel.$location.path('/ql-toa-hang/xe')" />
        </div>
      </div>
		</form>
	</div>
</div>