<div id="truckList" class="bootstrap view-page">
  <div class="container">
    <div class="row action-row">
      <div class="col-sm-9">
        <span>
          <label for="numOfTrucks">Hiển thị</label>
          <select id="numOfTrucks" class="form-control show-records-per-page" data-ng-model="viewModel.pageSize" data-ng-change="viewModel.initPagination()" convert-to-number>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="999999">All</option>
          </select>
        </span>
        <button type="button" class="btn btn-default" data-ng-click="viewModel.goToTruckForm()">
          <span class="glyphicon glyphicon-plus"></span>
          <span class="hidden-xs">Tạo xe mới</span>
        </button>
        <button type="button" class="btn btn-default"
                data-ng-click="viewModel.removeTrucks()"
                data-ng-disabled="!viewModel.hasSelectedTruck()">
          <span class="glyphicon glyphicon-trash"></span>
          <span class="hidden-xs">Xóa xe</span>
        </button>
      </div>
      <div class="col-sm-3 search-text-box">
        <div class="form-group has-feedback">
          <input class="form-control" type="text" data-ng-model="viewModel.searchText" placeholder="Tìm kiếm nhanh" />
          <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"
                data-ng-click="viewModel.clearSearchText()"></span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="checkbox-width text-center">
									<input id="checkAllTrucks" type="checkbox" data-ng-model="viewModel.isCheckedAll"
												 data-ng-change="viewModel.selectAllTrucksOnPage()" />
                </th>
                <th class="text-center">Biển số</th>
                <th class="col-sm-2 text-center">Năm sản xuất</th>
                <th class="col-sm-2 text-center">Nhãn hiệu</th>
                <th class="col-sm-2 text-center">Tải trọng</th>
                <th class="col-sm-2 text-center">Còn lưu hành</th>
                <th class="edit-column-width text-center">Sửa</th>
                <th class="detail-column-width text-center">Xem</th>
              </tr>
            </thead>
            <tbody>
              <tr data-ng-if="viewModel.isLoading">
                <td class="text-center" colspan="8">
                  <i class="fa fa-spinner fa-spin"></i>
                </td>
              </tr>
              <tr data-ng-if="!viewModel.isLoading" data-ng-repeat="truckViewModel in viewModel.truckListView">
                <td class="text-center" data-ng-click="$event.stopPropagation();">
                  <input id="truck-{{$index}}" type="checkbox" data-ng-model="truckViewModel.isChecked" />
                </td>
                <td>{{::truckViewModel.licensePlate}}</td>
                <td class="text-center">{{::truckViewModel.yearOfManufacture}}</td>
                <td>{{::truckViewModel.brand}}</td>
                <td>{{::truckViewModel.weight}}</td>
                <td>{{::truckViewModel.hasUsing}}</td>
                <td class="text-center edit-column" data-ng-click="viewModel.goToTruckEditForm($event, truckViewModel.id)">
                  <span class="glyphicon glyphicon-pencil"></span>
                </td>
                <td class="text-center detail-column" data-ng-click="viewModel.$location.path('/ql-toa-hang/xe/' + truckViewModel.id)">
                  <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <custom-pagination data-ng-if="viewModel.truckListView.length > 0"
        num-of-pages="viewModel.numOfPages"
        current-page="viewModel.currentPage"
    />

  </div>
</div>