<div id="orderFormSection" class="bootstrap form">
	<div class="container">
		<form id="orderForm" name="orderForm">
			<div class="row">
        <div class="col-sm-3">
          <div class="form-group">
            <label for="licensePlate">Số xe <span class="required-symbol">*</span></label>
            <span class="required-field" ng-if="orderForm.licensePlate.$touched && orderForm.licensePlate.$invalid">(Số xe phải được nhập)</span>
            <input id="licensePlate" name="licensePlate" class="form-control" type="text" ng-model="viewModel.currentOrder.licensePlate" required>
          </div>
        </div>
				<div class="col-sm-3">
					<div class="form-group">
						<label for="customerName">Tên khách hàng</label>
						<input id="customerName" name="customerName" class="form-control" type="text" ng-model="viewModel.currentOrder.customerName">
					</div>
				</div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="address">Địa chỉ</label>
            <input id="address" name="address" class="form-control" type="text" ng-model="viewModel.currentOrder.address">
          </div>
        </div>
			</div>
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group">
            <label for="date">Ngày</label>
            <datepicker class="date-picker" date-format="dd/MM/yyyy" date-set="{{viewModel.todayFormat}}">
              <input id="date" class="form-control" name="date" type="text" ng-model="viewModel.currentOrder.date">
            </datepicker>
          </div>
        </div>
        <div class="col-sm-9">
          <div class="form-group">
            <label for="totalAmount">Mô tả</label>
            <input id="address" name="address" class="form-control" type="text" ng-model="viewModel.currentOrder.note">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <button type="button" class="btn btn-default main-btn" data-ng-click="viewModel.addOrderDetail()">
            <span class="glyphicon glyphicon-plus"></span>
            <span class="hidden-xs">Bán hàng</span>
          </button>
        </div>
      </div>

      <div class="row margin-top-15">
        <div class="col-sm-12">
          <div class="table-responsive">
            <table class="table table-hover table-bordered">
              <thead>
                <tr>
                  <th class="col-sm-1 text-center">STT</th>
                  <th class="col-sm-3 text-center">Tên sản phẩm</th>
                  <th class="col-sm-1 text-center">Số lượng</th>
                  <th class="col-sm-2 text-center">Đơn giá</th>
                  <th class="col-sm-1 text-center">Đơn vị tính</th>
                  <th class="col-sm-3 text-center">Thành tiền</th>
                  <th class="col-sm-1 text-center"></th>
                </tr>
              </thead>
              <tbody>
                <tr data-ng-repeat="orderDetail in viewModel.currentOrder.orderDetails">
                  <td class="text-center align-middle">{{$index + 1}}</td>
                  <td class="text-left">
                    <select ui-select2 class="form-control ui-select-2" data-ng-model="orderDetail.productId"
                            data-ng-change="viewModel.onInventoryViewChanged(orderDetail)">
                      <option value="" selected="selected">--Chọn sản phẩm --</option>
                      <option data-ng-repeat="inventory in viewModel.inventoryViewList" value="{{inventory.productId}}">{{inventory.productName}} [{{inventory.quantity}}]</option>
                    </select>
                  </td>
                  <td class="text-center">
                    <input class="form-control" type="number" min="1" data-ng-model="orderDetail.quantity" data-ng-change="viewModel.onQuantityOrderDetailChanged()"/>
                  </td>
                  <td class="text-center">
                    <input class="form-control" type="text" maxlength="15" data-ng-model="orderDetail.priceFormatted" data-ng-change="viewModel.setFormatedCurencyForOrderDetail(orderDetail)" />
                  </td>
                  <td class="text-center">
                    <input class="form-control" type="text" data-ng-model="orderDetail.unit" />
                  </td>
                  <td class="text-center align-middle">{{orderDetail.price * orderDetail.quantity | currency: "" : 0}}</td>
                  <td class="text-center">
                    <button type="button" class="btn btn-default" data-ng-click="viewModel.deleteOrderDetail($index)">
                      <span class="glyphicon glyphicon-trash"></span> <span>Xóa</span>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
		</form>

    <div class="row">
      <div class="col-sm-2 col-sm-offset-8 margin-top-7">
        <strong>Tổng thành tiền</strong>
      </div>
      <div class="col-sm-2">
        <div class="form-control text-right disabled">{{viewModel.currentOrder.totalAmount | currency: "" : 0}}</div>
      </div>
    </div>
    <div class="row margin-top-15">
      <div class="col-sm-2 col-sm-offset-8 margin-top-7">
        <label for="saleOff">Giảm giá (% < 100)</label>
      </div>
      <div class="col-sm-2">
        <input id="saleOff" class="form-control text-right" name="saleOff" type="number" min="0" max="100" ng-model="viewModel.currentOrder.saleOff">
      </div>
    </div>
    <div class="row margin-top-15">
      <div class="col-sm-2 col-sm-offset-8 margin-top-7">
        <strong>Phải trả</strong>
      </div>
      <div class="col-sm-2">
        <div class="form-control text-right disabled">{{viewModel.currentOrder.totalAmount*(100-viewModel.currentOrder.saleOff)/100 | currency: "" : 0}}</div>
      </div>
    </div>

    <div class="row margin-bottom-20">
      <div class="col-sm-12">
        <button type="submit" form="orderForm" class="btn btn-default positive-btn" data-ng-if="viewModel.$location.path() === '/ql-garage/ban-hang/tao'"
                data-ng-click="viewModel.createOrder(viewModel.currentOrder)" data-ng-disabled="orderForm.$invalid">
          <span class="glyphicon glyphicon-ok"></span>
          <span>Lưu</span>
        </button>

        <button type="submit" form="orderForm" class="btn btn-default positive-btn" data-ng-if="viewModel.$location.path() === '/ql-garage/ban-hang/sua/' + viewModel.currentOrder.id"
                data-ng-click="viewModel.updateOrder(viewModel.currentOrder)" data-ng-disabled="orderForm.$invalid">
          <span class="glyphicon glyphicon-ok"></span>
          <span>Cập nhật</span>
        </button>

        <button class="btn btn-default negative-btn" data-ng-click="viewModel.$location.path('/ql-garage/ban-hang')">
          <span class="glyphicon glyphicon-remove"></span>
          <span>Hủy</span>
        </button>
      </div>
    </div>
	</div>
</div>