<div id="orderFormSection" class="bootstrap form">
	<div class="container">
		<form name="orderForm" class="form-horizontal">
      <div class="form-group">
        <div class="col-sm-12">
          <button type="submit" form="orderForm" class="btn btn-default" data-ng-class="{'main-btn': !orderForm.$invalid}"
              data-ng-if="viewModel.$location.path() === '/ql-garage/ban-hang/tao'"
              data-ng-click="viewModel.createOrder(viewModel.currentOrder)" data-ng-disabled="orderForm.$invalid">
            <span class="glyphicon glyphicon-ok"></span>
            <span>Lưu</span>
          </button>

          <button type="submit" form="orderForm" class="btn btn-default" data-ng-class="{'main-btn': !orderForm.$invalid}"
              data-ng-if="viewModel.$location.path() === '/ql-garage/ban-hang/sua/' + viewModel.currentOrder.id"
              data-ng-click="viewModel.updateOrder(viewModel.currentOrder)" data-ng-disabled="orderForm.$invalid">
            <span class="glyphicon glyphicon-ok"></span>
            <span>Cập nhật</span>
          </button>

          <button class="btn btn-default" data-ng-click="viewModel.$location.path('/ql-garage/ban-hang')">
            <span class="glyphicon glyphicon-remove"></span>
            <span>Hủy</span>
          </button>
        </div>
      </div>

      <div class="form-group margin-top-20">
        <label for="licensePlate" class="col-sm-2 control-label">Số xe <span class="required-symbol">*</span></label>
        <div class="col-sm-4" data-ng-class="{'has-error': orderForm.licensePlate.$touched && orderForm.licensePlate.$invalid}">
          <input id="licensePlate" name="licensePlate" class="form-control" type="text"
                 data-ng-model="viewModel.currentOrder.licensePlate" required>
        </div>
        <div class="col-sm-4 validate-error">
          <span class="required-field" data-ng-if="orderForm.licensePlate.$touched && orderForm.licensePlate.$invalid">
          Số xe phải được nhập</span>
        </div>
      </div>

      <div class="form-group">
        <label for="customerName" class="col-sm-2 control-label">Tên khách hàng</label>
        <div class="col-sm-4">
          <input id="customerName" name="customerName" class="form-control" type="text" data-ng-model="viewModel.currentOrder.customerName">
        </div>
      </div>
      <div class="form-group">
        <label for="address" class="col-sm-2 control-label">Địa chỉ</label>
        <div class="col-sm-4">
          <input id="address" name="address" class="form-control" type="text" data-ng-model="viewModel.currentOrder.address">
        </div>
      </div>
      <div class="form-group">
        <label for="date" class="col-sm-2 control-label">Ngày</label>
        <div class="col-sm-4">
          <datepicker class="date-picker" date-format="dd/MM/yyyy" date-set="{{viewModel.todayFormat}}">
            <input id="date" class="form-control" name="date" type="text" data-ng-model="viewModel.currentOrder.date">
          </datepicker>
        </div>
      </div>
      <div class="form-group">
        <label for="note" class="col-sm-2 control-label">Mô tả</label>
        <div class="col-sm-4">
          <input id="note" name="note" class="form-control" type="text" data-ng-model="viewModel.currentOrder.note">
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 text-right">
          <button type="button" class="btn btn-default minor-btn" data-ng-click="viewModel.addOrderDetail()">
            <span class="glyphicon glyphicon-plus"></span>
            <span class="hidden-xs">Bán hàng</span>
          </button>
        </div>
      </div>

      <div class="row margin-top-15">
        <div class="col-sm-12">
          <div class="table-responsive">
            <table class="table table-hover table-bordered">
              <thead>
                <tr>
                  <th class="stt-width text-center">STT</th>
                  <th class="col-sm-3 text-center">Tên sản phẩm <span class="required-symbol">*</span></th>
                  <th class="text-center">SL <span class="required-symbol">*</span></th>
                  <th class="col-sm-2 text-center">Đơn giá <span class="required-symbol">*</span></th>
                  <th class="col-sm-2 text-center">Đơn vị tính</th>
                  <th class="col-sm-2 text-center">Thành tiền</th>
                  <th class="col-sm-1 text-center"></th>
                </tr>
              </thead>
              <tbody>
                <tr data-ng-repeat="orderDetail in viewModel.currentOrder.orderDetails">
                  <td class="text-center align-middle">{{$index + 1}}</td>
                  <td class="text-left">
                    <select ui-select2 class="form-control ui-select-2" data-ng-model="orderDetail.productId"
                            data-ng-change="viewModel.onInventoryViewChanged(orderDetail, $index)" required>
                      <option value="" selected="selected">--Chọn sản phẩm --</option>
                      <option data-ng-repeat="inventory in viewModel.inventoryViewList" value="{{inventory.productId}}">{{inventory.productName}} [{{inventory.quantity}}]</option>
                    </select>
                  </td>
                  <td class="text-center">
                    <input class="form-control" type="number" min="1" data-ng-model="orderDetail.quantity"
                           data-ng-change="viewModel.onQuantityOrderDetailChanged()" required/>
                  </td>
                  <td>
                    <input class="form-control text-right" type="text" maxlength="15" data-ng-model="orderDetail.priceFormatted"
                           data-ng-change="viewModel.setFormatedCurencyForOrderDetail(orderDetail)" required/>
                  </td>
                  <td>
                    <input class="form-control" type="text" data-ng-model="orderDetail.unit" />
                  </td>
                  <td class="text-right align-middle">{{orderDetail.price * orderDetail.quantity | currency: "" : 0}}</td>
                  <td class="text-center">
                    <button type="button" class="btn btn-default" data-ng-click="viewModel.deleteOrderDetail($index)">
                      <span class="glyphicon glyphicon-trash"></span> <span>Xóa</span>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
		</form>

    <div class="row">
      <div class="col-sm-2 col-sm-offset-8 margin-top-7">
        <strong>Tổng thành tiền</strong>
      </div>
      <div class="col-sm-2">
        <div class="form-control text-right disabled">{{viewModel.currentOrder.totalAmount | currency: "" : 0}}</div>
      </div>
    </div>
    <div class="row margin-top-15">
      <div class="col-sm-2 col-sm-offset-8 margin-top-7">
        <label for="saleOff">Giảm giá (% < 100)</label>
      </div>
      <div class="col-sm-2">
        <input id="saleOff" class="form-control text-right" name="saleOff" type="number" min="0" max="100" ng-model="viewModel.currentOrder.saleOff">
      </div>
    </div>
    <div class="row margin-top-15">
      <div class="col-sm-2 col-sm-offset-8 margin-top-7">
        <strong>Phải trả</strong>
      </div>
      <div class="col-sm-2">
        <div class="form-control text-right disabled">{{viewModel.currentOrder.totalAmount*(100-viewModel.currentOrder.saleOff)/100 | currency: "" : 0}}</div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-12">
        <button type="submit" form="orderForm" class="btn btn-default" data-ng-class="{'main-btn': !orderForm.$invalid}"
                data-ng-if="viewModel.$location.path() === '/ql-garage/ban-hang/tao'"
                data-ng-click="viewModel.createOrder(viewModel.currentOrder)" data-ng-disabled="orderForm.$invalid">
          <span class="glyphicon glyphicon-ok"></span>
          <span>Lưu</span>
        </button>

        <button type="submit" form="orderForm" class="btn btn-default" data-ng-class="{'main-btn': !orderForm.$invalid}"
            data-ng-if="viewModel.$location.path() === '/ql-garage/ban-hang/sua/' + viewModel.currentOrder.id"
            data-ng-click="viewModel.updateOrder(viewModel.currentOrder)" data-ng-disabled="orderForm.$invalid">
          <span class="glyphicon glyphicon-ok"></span>
          <span>Cập nhật</span>
        </button>

        <button class="btn btn-default" data-ng-click="viewModel.$location.path('/ql-garage/ban-hang')">
          <span class="glyphicon glyphicon-remove"></span>
          <span>Hủy</span>
        </button>
      </div>
    </div>
	</div>
</div>