<div id="inputOrderInfo" class="bootstrap">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <img class="avatar" src="/img/logo.gif" style="width: 100%"/>
      </div>
      <div class="col-sm-9">
        <div class="list-group-item user-info">
          <h2 class="text-center title-name">{{viewModel.currentInputOrder.id}}</h2>
          <p><span class="bold-text">Nhà cung cấp:</span> <span>{{viewModel.currentInputOrder.vendor}}</span></p>
          <p><span class="bold-text">Ngày:</span> <span>{{viewModel.currentInputOrder.date}}</span></p>
          <p><span class="bold-text">Tổng thành tiền:</span> <span>{{viewModel.currentInputOrder.totalAmount | currency: "" : 0}}</span></p>

          <div class="table-responsive">
            <table class="table table-hover table-bordered">
              <thead>
                <tr>
                  <th class="align-center">STT</th>
                  <th class="align-center">Tên sản phẩm</th>
                  <th class="align-center">Số lượng</th>
                  <th class="align-center">Giá nhập</th>
                  <th class="align-center">Thành tiền</th>
                  <th class="align-center">Giá bán</th>
                </tr>
              </thead>
              <tbody>
                <tr data-ng-repeat="productInput in viewModel.currentInputOrder.productInputs">
                  <td class="align-center">{{$index + 1}}</td>
                  <td class="align-center">{{viewModel.getProductById(productInput.productId).name}}</td>
                  <td class="align-center">{{productInput.quantity}}</td>
                  <td class="align-center">{{productInput.inputPrice | currency: "" : 0}}</td>
                  <td class="align-center">{{productInput.inputPrice * productInput.quantity | currency: "" : 0}}</td>
                  <td class="align-center">{{productInput.salePrice | currency: "" : 0}}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <button class="btn btn-default negative-btn" data-ng-click="viewModel.$location.path('/ql-garage/nhap-kho')">
            <span class="glyphicon glyphicon-arrow-left"></span>
            <span>Quay lại</span>
          </button>

          <button class="btn btn-default negative-btn" data-ng-click="viewModel.$location.path('/ql-garage/nhap-kho/sua/' + viewModel.currentInputOrder.id)">
            <span class="glyphicon glyphicon-pencil"></span>
            <span>Sửa</span>
          </button>

          <button class="btn btn-default negative-btn" data-ng-click="viewModel.removeInputOrderInDetail(viewModel.currentInputOrder)">
            <span class="glyphicon glyphicon-trash"></span>
            <span>Xóa</span>
          </button>
        </div>
      </div>
    </div>

  </div>
</div>