<div id="inputOrderInfo" class="bootstrap">
  <div class="container">
    <div class="form-detail">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="text-center">NHẬP KHO - {{viewModel.currentInputOrder.id}}</h2>
        </div>
      </div>
      <div class="row margin-top-20">
        <div class="col-sm-2">
          <p class="bold-text">Nhà cung cấp:</p>
        </div>
        <div class="col-sm-10">
          <p>{{viewModel.currentInputOrder.vendor}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <p class="bold-text">Ngày:</p>
        </div>
        <div class="col-sm-10">
          <p>{{viewModel.currentInputOrder.date}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <p class="bold-text">Tổng thành tiền:</p>
        </div>
        <div class="col-sm-10">
          <p class="bold-text">{{viewModel.currentInputOrder.totalAmount | currency: "" : 0}}</p>
        </div>
      </div>

      <div class="table-responsive margin-top-15">
        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th class="align-center">STT</th>
              <th class="align-center">Tên sản phẩm</th>
              <th class="align-center">Số lượng</th>
              <th class="align-center">Giá nhập</th>
              <th class="align-center">Thành tiền</th>
              <th class="align-center">Giá bán</th>
            </tr>
          </thead>
          <tbody>
            <tr data-ng-repeat="productInput in viewModel.currentInputOrder.productInputs">
              <td class="align-center">{{$index + 1}}</td>
              <td class="align-center">{{viewModel.getProductById(productInput.productId).name}}</td>
              <td class="align-center">{{productInput.quantity}}</td>
              <td class="align-center">{{productInput.inputPrice | currency: "" : 0}}</td>
              <td class="align-center">{{productInput.inputPrice * productInput.quantity | currency: "" : 0}}</td>
              <td class="align-center">{{productInput.salePrice | currency: "" : 0}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="row margin-bottom-20">
        <div class="col-sm-12">
          <button class="btn btn-default" data-ng-click="viewModel.$location.path('/ql-garage/nhap-kho')">
            <span class="glyphicon glyphicon-arrow-left"></span>
            <span>Quay lại</span>
          </button>

          <button class="btn btn-default" data-ng-click="viewModel.$location.path('/ql-garage/nhap-kho/sua/' + viewModel.currentInputOrder.id)">
            <span class="glyphicon glyphicon-pencil"></span>
            <span>Sửa</span>
          </button>

          <button class="btn btn-default" data-ng-click="viewModel.removeInputOrderInDetail(viewModel.currentInputOrder)">
            <span class="glyphicon glyphicon-trash"></span>
            <span>Xóa</span>
          </button>
        </div>
      </div>

    </div>
  </div>
</div>