<div id="qlGarage" class="bootstrap">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="manage-box sp-box" data-ng-click="viewModel.goToProductManagement()">
          <i class="fa fa-wrench icon" aria-hidden="true"></i>
          <h4>SẢN PHẨM</h4>
        </div>
        <div class="manage-box nk-box long-box" data-ng-click="viewModel.goToProductInputManagement()">
          <i class="fa fa-play icon" aria-hidden="true"></i>
          <h4>NHẬP KHO</h4>
        </div>
        <div class="manage-box bh-box long-box no-margin-right" data-ng-click="viewModel.goToSaleManagement()">
          <i class="fa fa-exchange icon" aria-hidden="true"></i>
          <h4>BÁN HÀNG</h4>
        </div>
      </div>
    </div>
  </div>
</div>