<div id="qlGarage" class="bootstrap">
  <div class="container">
    <div class="css-grid">
      <div class="manage-box sp-box" data-ng-click="viewModel.goToProductManagement()">
        <div class="wrapper-content">
          <i class="fa fa-wrench icon" aria-hidden="true"></i>
          <h4>SẢN PHẨM</h4>
        </div>
      </div>
      <div class="manage-box nk-box" data-ng-click="viewModel.goToProductInputManagement()">
        <div class="wrapper-content">
          <i class="fa fa-play icon" aria-hidden="true"></i>
          <h4>NHẬP</h4>
        </div>
      </div>
      <div class="manage-box bh-box" data-ng-click="viewModel.goToSaleManagement()">
        <div class="wrapper-content">
          <i class="fa fa-dollar icon" aria-hidden="true"></i>
          <h4>BÁN HÀNG</h4>
        </div>
      </div>
      <div class="manage-box ql-box" data-ng-click="viewModel.goToReportGarageManagement()">
        <div class="wrapper-content">
          <i class="fa fa-exchange icon" aria-hidden="true"></i>
          <h4>QUẢN LÝ</h4>
        </div>
      </div>
    </div>
  </div>
</div>