<div id="garageManagementList" class="bootstrap view-page">
	<div class="container">
		<div class="row action-row">
			<div class="col-sm-9">
				<span>
					<label for="numOfTrucks">Hiển thị</label>
					<select id="numOfTrucks" class="form-control show-records-per-page" data-ng-model="viewModel.pageSize" data-ng-change="viewModel.initPagination()" convert-to-number>
						<option value="5">5</option>
						<option value="10">10</option>
						<option value="20">20</option>
						<option value="999999">All</option>
					</select>
				</span>
        <button type="button" class="btn btn-default" data-ng-click="viewModel.exportReport()">
          <i class="fa fa-print" aria-hidden="true"></i>
          <span class="hidden-xs">In báo cáo</span>
          &nbsp;<i data-ng-if="viewModel.isFullExportLoading" class="fa fa-spinner fa-pulse"></i>
        </button>
			</div>
      <div class="col-sm-3 search-text-box">
        <div class="form-group has-feedback">
          <input class="form-control" type="text" data-ng-model="viewModel.searchText"
                 data-ng-model-options="{ debounce: 500 }" placeholder="Tìm kiếm nhanh" />
          <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"
                data-ng-click="viewModel.clearSearchText()"></span>
        </div>
      </div>
		</div>

    <div class="row report-row">
      <div class="col-sm-12">
        <label for="fromDate">Báo cáo</label>
        <datepicker class="date-picker garage-report-datepicker" date-format="dd/MM/yyyy">
          <input id="fromDate" class="form-control" name="fromDate" type="text" data-ng-model="viewModel.fromDate" placeholder="Từ ngày" autocomplete="off">
        </datepicker>

        <datepicker class="date-picker garage-report-datepicker" date-format="dd/MM/yyyy">
          <input id="toDate" class="form-control" name="toDate" type="text" data-ng-model="viewModel.toDate" placeholder="Đến ngày" autocomplete="off">
        </datepicker>

        <button class="btn btn-default report-btn" data-ng-click="viewModel.exportProductInfo()"
                data-ng-disabled="!viewModel.fromDate || !viewModel.toDate">
          Tải về <i data-ng-if="viewModel.isExportLoading" class="fa fa-spinner fa-pulse"></i>
        </button>
      </div>
    </div>

		<div class="row margin-top-20">
			<div class="col-sm-12">
				<div class="table-responsive">
					<table class="table table-hover table-bordered">
						<thead>
							<tr>
                <th class="stt-width text-center">STT</th>
                <th class="text-center col-search pointer" data-ng-click="viewModel.orderBy('name')">
                  <span>Tên sản phẩm &nbsp;</span><i class="fa fa-search"></i>
                  <i class="fa" data-ng-if="viewModel.sortingCurrentPropertyName === 'name'" aria-hidden="true"
                     data-ng-class="{'fa-sort-asc sort-asc-ico': !viewModel.sortingIsReverse, 'fa-sort-desc sort-desc-ico': viewModel.sortingIsReverse}"></i>
                </th>
                <th class="main-width-column text-center pointer" data-ng-click="viewModel.orderBy('sumOfInput')">SL nhập &nbsp;
                  <i class="fa " data-ng-if="viewModel.sortingCurrentPropertyName === 'sumOfInput'" aria-hidden="true"
                     data-ng-class="{'fa-sort-asc sort-asc-ico': !viewModel.sortingIsReverse, 'fa-sort-desc sort-desc-ico': viewModel.sortingIsReverse}"></i>
                </th>
                <th class="main-width-column text-center pointer" data-ng-click="viewModel.orderBy('sumOfSale')">SL bán &nbsp;
                  <i class="fa " data-ng-if="viewModel.sortingCurrentPropertyName === 'sumOfSale'" aria-hidden="true"
                     data-ng-class="{'fa-sort-asc sort-asc-ico': !viewModel.sortingIsReverse, 'fa-sort-desc sort-desc-ico': viewModel.sortingIsReverse}"></i>
                </th>

                <th class="main-width-column text-center pointer" data-ng-click="viewModel.orderBy('numOfRemain')">SL hiện tại &nbsp;
                  <i class="fa " data-ng-if="viewModel.sortingCurrentPropertyName === 'numOfRemain'" aria-hidden="true"
                     data-ng-class="{'fa-sort-asc sort-asc-ico': !viewModel.sortingIsReverse, 'fa-sort-desc sort-desc-ico': viewModel.sortingIsReverse}"></i>
                </th>
                <th class="main-width-long-column text-center pointer" data-ng-click="viewModel.orderBy('sumOfInputTotalAmount')">Tổng GT nhập &nbsp;
                  <i class="fa " data-ng-if="viewModel.sortingCurrentPropertyName === 'sumOfInputTotalAmount'" aria-hidden="true"
                     data-ng-class="{'fa-sort-asc sort-asc-ico': !viewModel.sortingIsReverse, 'fa-sort-desc sort-desc-ico': viewModel.sortingIsReverse}"></i>
                </th>
                <th class="main-width-long-column text-center pointer" data-ng-click="viewModel.orderBy('sumOfSaleTotalAmount')">Tổng GT bán &nbsp;
                  <i class="fa " data-ng-if="viewModel.sortingCurrentPropertyName === 'sumOfSaleTotalAmount'" aria-hidden="true"
                     data-ng-class="{'fa-sort-asc sort-asc-ico': !viewModel.sortingIsReverse, 'fa-sort-desc sort-desc-ico': viewModel.sortingIsReverse}"></i>
                </th>
                <th class="main-width-long-column text-center pointer" data-ng-click="viewModel.orderBy('profit')">LN ước tính &nbsp;
                  <i class="fa " data-ng-if="viewModel.sortingCurrentPropertyName === 'profit'" aria-hidden="true"
                     data-ng-class="{'fa-sort-asc sort-asc-ico': !viewModel.sortingIsReverse, 'fa-sort-desc sort-desc-ico': viewModel.sortingIsReverse}"></i>
                </th>
							</tr>
						</thead>
						<tbody>
              <tr data-ng-if="viewModel.isLoading">
                <td class="text-center" colspan="8">
                  <i class="fa fa-spinner fa-spin"></i>
                </td>
              </tr>
							<tr data-ng-if="!viewModel.isLoading" data-ng-repeat="productInfo in viewModel.productInfoListView">
								<td class="text-center">{{$index + 1}}</td>
								<td>{{::productInfo.name}}</td>
                <td class="text-right">{{::productInfo.sumOfInput}}</td>
                <td class="text-right">{{::productInfo.sumOfSale}}</td>
                <td class="text-right">{{::productInfo.numOfRemain}}</td>
                <td class="text-right">{{::productInfo.sumOfInputTotalAmount}}</td>
                <td class="text-right">{{::productInfo.sumOfSaleTotalAmount}}</td>
                <td class="text-right">{{::productInfo.profit}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

    <custom-pagination
        data-ng-if="viewModel.productInfoListView.length > 0"
        num-of-pages="viewModel.numOfPages"
        current-page="viewModel.currentPage"
    />

	</div>
</div>