<div id="productInputList" class="bootstrap view-page">
  <div class="container">
    <div class="row action-row">
      <div class="col-sm-9">
        <span>
          <label for="numOfProductInputs">Hiển thị</label>
          <select id="numOfProductInputs" class="form-control show-records-per-page" data-ng-model="viewModel.pageSize" data-ng-change="viewModel.initPagination()" convert-to-number>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="99999">All</option>
          </select>
        </span>
        <button type="button" class="btn btn-default" data-ng-click="viewModel.goToOrderForm()">
          <span class="glyphicon glyphicon-plus"></span>
          <span class="hidden-xs">Tạo đơn hàng</span>
        </button>
        <button type="button" class="btn btn-default" data-ng-click="viewModel.removeOrders()">
          <span class="glyphicon glyphicon-trash"></span>
          <span class="hidden-xs">Xóa đơn hàng</span>
        </button>
        <button type="button" class="btn btn-default" data-ng-click="viewModel.goToDeletedOrders()">
          <span class="glyphicon glyphicon-folder-close"></span>
          <span class="hidden-xs">Đơn hàng đã xóa</span>
        </button>
      </div>
      <div class="col-sm-3 search-text-box">
        <div class="form-group has-feedback">
          <input class="form-control" type="text" data-ng-model="viewModel.searchText" placeholder="Tìm kiếm nhanh" />
          <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"
                data-ng-click="viewModel.clearSearchText()"></span>
        </div>
      </div>
    </div>

    <div class="row report-row">
      <div class="col-sm-12">
        <label for="fromDate">Báo cáo</label>
        <datepicker class="date-picker garage-report-datepicker" date-format="dd/MM/yyyy">
          <input id="fromDate" class="form-control" name="fromDate" type="text" data-ng-model="viewModel.fromDate" placeholder="Từ ngày">
        </datepicker>

        <datepicker class="date-picker garage-report-datepicker" date-format="dd/MM/yyyy">
          <input id="toDate" class="form-control" name="toDate" type="text" data-ng-model="viewModel.toDate" placeholder="Đến ngày">
        </datepicker>

        <button class="btn btn-default report-btn" data-ng-click="viewModel.exportOrder()"
                data-ng-disabled="viewModel.fromDate == null || viewModel.toDate == null">
          Tải về <i data-ng-if="viewModel.isExportLoading" class="fa fa-spinner fa-pulse"></i>
        </button>
      </div>
    </div>

		<div class="row margin-top-20">
			<div class="col-sm-12">
				<div class="table-responsive">
					<table class="table table-hover table-bordered">
						<thead>
							<tr>
								<th class="checkbox-width align-center">
									<input id="checkAllOrders" type="checkbox" data-ng-model="viewModel.isCheckedAll"
												 data-ng-change="viewModel.selectAllProductsOnPage()" />
								</th>
								<th class="col-sm-2 text-center">Số xe</th>
								<th class="text-center">Tên khách hàng</th>
                <th class="col-sm-2 text-center">Thành tiền</th>
                <th class="col-sm-1 text-center">Giảm giá</th>
                <th class="col-sm-2 text-center">Ngày bán</th>
                <th class="edit-column-width  text-center">In</th>
                <th class="edit-column-width text-center">Sửa</th>
                <th class="detail-column-width text-center">Xem</th>
							</tr>
						</thead>
						<tbody>
              <tr data-ng-if="viewModel.isLoading">
                <td class="text-center" colspan="9">
                  <i class="fa fa-spinner fa-spin"></i>
                </td>
              </tr>
							<tr data-ng-if="!viewModel.isLoading" data-ng-repeat="orderViewModel in viewModel.getOrderListOnPage()">
								<td class="text-center" data-ng-click="$event.stopPropagation();">
									<input id="order-{{$index}}" type="checkbox" data-ng-model="orderViewModel.isChecked" />
								</td>
								<td>{{::orderViewModel.licensePlate}}</td>
								<td>{{::orderViewModel.customerName}}</td>
                <td class="text-right">{{::orderViewModel.totalAmount}}</td>
                <td class="text-right">{{::orderViewModel.saleOff}}</td>
                <td class="text-center">{{::orderViewModel.date}}</td>
                <td class="text-center hover" data-ng-click="viewModel.goToOrderPrintPage($event, orderViewModel)"><i class="fa fa-print font-16"></i></td>
                <td class="text-center edit-column" data-ng-click="viewModel.goToOrderEditForm($event, orderViewModel.id)">
                  <span class="glyphicon glyphicon-pencil"></span>
                </td>
                <td class="text-center detail-column" data-ng-click="viewModel.$location.path('/ql-garage/ban-hang/' + orderViewModel.id)">
                  <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

    <custom-pagination num-of-pages="viewModel.numOfPages" current-page="viewModel.currentPage" />

	</div>
</div>