<div id="deletedOrderList" class="bootstrap view-page">
	<div class="container">
		<div class="row action-row">
			<div class="col-sm-9">
				<span>
					<label for="numOfProductInputs">Hiển thị</label>
					<select id="numOfProductInputs" class="form-control show-records-per-page" data-ng-model="viewModel.pageSize" data-ng-change="viewModel.initPagination()" convert-to-number>
						<option value="5">5</option>
						<option value="10">10</option>
						<option value="20">20</option>
						<option value="99999">All</option>
					</select>
				</span>
			</div>
      <div class="col-sm-3 search-text-box">
        <div class="form-group has-feedback">
          <input class="form-control" type="text" data-ng-model="viewModel.searchText" placeholder="Tìm kiếm nhanh" />
          <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"
                data-ng-click="viewModel.clearSearchText()"></span>
        </div>
      </div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<div class="table-responsive">
					<table class="table table-hover table-bordered">
						<thead>
							<tr>
								<th class="stt-width text-center">STT</th>
								<th class="col-sm-2 text-center">Số xe </th>
								<th class="text-center">Tên khách hàng</th>
                <th class="col-sm-2 text-center">Thành tiền</th>
                <th class="col-sm-1 text-center">Giảm giá</th>
                <th class="col-sm-2 text-center">Ngày bán</th>
                <th class="col-sm-1 text-center">Phục hồi</th>
							</tr>
						</thead>
						<tbody>
              <tr data-ng-if="viewModel.isLoading">
                <td class="text-center" colspan="7">
                  <i class="fa fa-spinner fa-spin"></i>
                </td>
              </tr>
							<tr data-ng-if="!viewModel.isLoading" data-ng-repeat="orderViewModel in viewModel.getOrderListOnPage()">
								<td class="text-center">{{$index + 1}}</td>
								<td>{{::orderViewModel.licensePlate}}</td>
								<td>{{::orderViewModel.customerName}}</td>
                <td class="text-right">{{::orderViewModel.totalAmount}}</td>
                <td class="text-right">{{::orderViewModel.saleOff}}</td>
                <td class="text-center">{{::orderViewModel.date}}</td>
                <td class="text-center hover" data-ng-click="viewModel.restoreOrder(orderViewModel)"><i class="fa fa-undo"></i></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<nav aria-label="navigation" data-ng-if="viewModel.numOfPages > 0">
					<ul class="pagination">
						<li class="pointer" ng-class="{'disabled': viewModel.currentPage === 1}" data-ng-click="viewModel.goToPreviousPage()">
							<a aria-label="Previous">
								<span aria-hidden="true">&laquo;</span>
							</a>
						</li>

						<li class="pointer" data-ng-repeat="pageIndex in viewModel.getNumberPage() track by $index"
								data-ng-click="viewModel.goToPage($index + 1)" ng-class="{'active': $index + 1 === viewModel.currentPage}">
							<span>{{$index + 1}}</span>
						</li>

						<li class="pointer" ng-class="{'disabled': viewModel.currentPage >= viewModel.numOfPages}" data-ng-click="viewModel.goToNextPage()">
							<a aria-label="Next">
								<span aria-hidden="true">&raquo;</span>
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>

	</div>
</div>