@font-face {
    font-family: Roboto;
    src: url('../../font/roboto/Roboto-Regular.ttf') format('woff2');
}

$transport-color-1: #34495E;
$transport-color-2: #C0392B;

/*Apply Bootstrap Framework*/
div.bootstrap {
    @import "bootstrap/stylesheets/bootstrap";
}

#ng-app {
    height: 100%;

    body {
        height: 100%;
        margin: 0;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
    }

    .full-page {
        height: 100%;
    }
    /*LOADING*/
    div.bg-preload {
        display: none;
        position: fixed;
        z-index: 500;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba(255,255,255,0.8);

        span.img-loading {
            background: transparent url('/img/loading.gif') 0 0 no-repeat;
            width: 33px;
            height: 33px;
            margin-left: -16px;
            margin-top: -16px;
            left: 50%;
            top: 50%;
            text-indent: -9999px;
            position: fixed;
            z-index: 600;
        }
    }
    /*LOGIN FORM*/
    .login-wrapper {
        overflow-y: auto;
        height: 100%;
        width: 100%;
        padding-top: 0;
        background-color: $transport-color-1;


        .logo-section {
            height: 40%;
            display: table;
            margin: auto;

            .logo {
                display: table-cell;
                vertical-align: bottom;

                img {
                    height: 200px;
                }
            }
        }

        .login-section {
            height: 60%;
            display: table;
            margin: auto;
            padding-top: 5%;

            .login-form {
                width: 400px;
                height: auto;
                display: table-cell;
                vertical-align: top;

                .error-message {
                    background: rgba(218, 68, 83, 0.7);
                    display: block;
                    height: 36px;
                    line-height: 36px;
                    color: #fff;
                    font-size: 12px;
                    font-style: italic;
                    border: none;
                    margin-bottom: 20px;
                    padding: 0 10px;
                    border-radius: 4px;
                }

                input[type=text], input[type=password] {
                    font-family: 'Roboto', sans-serif;
                    padding: 0 10px;
                    width: 100%;
                    border: 1px solid #CCC;
                    height: 36px;
                    line-height: 36px;
                    border-radius: 4px;
                    box-sizing: border-box;
                }

                button.submit {
                    font-family: 'Roboto', sans-serif;
                    height: 36px;
                    width: 100%;
                    background: $transport-color-2;
                    color: white;
                    text-transform: uppercase;
                    border-style: none;
                    outline: none;
                    border-radius: 4px;
                    cursor: pointer;

                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
        }
    }
    /*BANNER*/
    .banner {
        background-color: $transport-color-1;
        height: 70px;
        line-height: 70px;

        .log-out-section {
            line-height: 70px;

            .log-out-btn {
                background: transparent;
                border: none;
                color: white;
                font-size: 16px;
                padding: 2px 8px;
                outline: none;

                &:hover{
                    color: $transport-color-2;
                }
            }
        }

        .logo {
            height: 54px;
        }
    }

    /*BREADCRUMB*/
    .breadcrumb-trail {
        list-style: none;
        overflow: hidden;
        margin-top: 4px;
        margin-bottom: 20px;
        padding: 0;
        background-color: #ECF0F1;
        border-left: 4px solid $transport-color-1;

        li {
            float: left;

            a {
                color: white;
                text-decoration: none;
                padding: 10px 0 10px 40px;
                background: brown; /* fallback color */
                background: hsla(184, 6%, 53%, 1);
                position: relative;
                display: block;
                float: left;

                &:after {
                    content: " ";
                    display: block;
                    width: 0;
                    height: 0;
                    border-top: 50px solid transparent; /* Go big on the size, and let overflow hide */
                    border-bottom: 50px solid transparent;
                    border-left: 24px solid hsla(184, 6%, 53%, 1);
                    position: absolute;
                    top: 50%;
                    margin-top: -50px;
                    left: 100%;
                    z-index: 2;
                }

                &:before {
                    content: " ";
                    display: block;
                    width: 0;
                    height: 0;
                    border-top: 50px solid transparent; /* Go big on the size, and let overflow hide */
                    border-bottom: 50px solid transparent;
                    border-left: 24px solid transparent;
                    position: absolute;
                    top: 50%;
                    margin-top: -50px;
                    margin-left: 1px;
                    left: 100%;
                    z-index: 1;
                }

            }
        
            &:first-child a {
                padding-left: 10px;
            }  
            &:nth-child(2) a {
                background: hsla(184, 6%, 63%, 1);
            }
            &:nth-child(2) a:after {
                border-left-color: hsla(184, 6%, 63%, 1);
            }
            &:nth-child(3) a {
                background: hsla(184, 6%, 73%, 1);
            }
            &:nth-child(3) a:after {
                border-left-color: hsla(184, 6%, 73%, 1);
            }
            &:nth-child(4) a {
                background:hsla(184, 6%, 83%, 1);
            }
            &:nth-child(4) a:after {
                border-left-color: hsla(184, 6%, 83%, 1);
            }
            &:nth-child(5) a {
                background: hsla(184, 6%, 93%, 1);
            }
            &:nth-child(5) a:after {
                border-left-color: hsla(184, 6%, 93%, 1);
            }
            &:last-child a {
                background: transparent !important;
                color: black;
                pointer-events: none;
                cursor: default;
            }
            &:last-child a:after {
                border: 0;
            }

            a:hover {
                background: hsla(184, 6%, 43%, 1);
            }

            a:hover:after {
                border-left-color:hsla(184, 6%, 43%, 1) !important;
            }
        }
    }

    .company-image-section{
        margin-top: 4px;
        .company-image-wrapper{
            padding-left: 2px;
            padding-right: 2px;

            .company-image{
                height: 160px;
                width: 100%;
            }
        }
        .first-image{
            padding-left: 15px;
        }
        .last-image{
            padding-right: 15px;
        }
    }
    




    #mainPage, #qlToaHangPage {

        .manage-box {
            height: 212px;
            width: 212px;
            background-color: #2980B9;
            float: left;
            text-align: center;
            color: white;
            margin: 0 20px 20px 0;
            cursor: pointer;

            .icon {
                font-size: 50px;
                margin-top: 50px;
                margin-bottom: 10px;
            }
        }

        .manage-box.long-box {
            width: 444px;
        }

        @media (min-width: 768px) {
            .manage-box {
                height: 140px;
                width: 140px;

                .icon {
                    font-size: 40px;
                    margin-top: 30px;
                    margin-bottom: 10px;
                }
            }
            .manage-box.long-box {
                width: 270px;
            }
        }

        @media (min-width: 992px) {
            .manage-box {
                height: 176px;
                width: 176px;

                .icon {
                    font-size: 50px;
                    margin-top: 40px;
                    margin-bottom: 10px;
                }
            }
            .manage-box.long-box {
                width: 362px;
            }
        }

        @media (min-width: 1200px) {
            .manage-box {
                height: 212px;
                width: 212px;

                .icon {
                    font-size: 60px;
                    margin-top: 50px;
                    margin-bottom: 10px;
                }
            }
            .manage-box.long-box {
                width: 444px;
            }
        }

        .manage-box.garage-box {
            background-color: #C0392B;
        }

        .manage-box.xe-box {
            background-color: #2C3E50;
        }

        .manage-box.nv-box {
            background-color: #3498db;
        }

        .manage-box.kh-box {
            background-color: #2ecc71;
        }

        .manage-box.th-box {
            background-color: #f1c40f;
        }

        .manage-box.qt-box {
            background-color: #e74c3c;
        }

        .no-margin-right {
            margin-right: 0px;
        }
    }

    .view-page {

        .show-records-per-page {
            width: auto;
            display: inline-block;
        }

        .action-row {
            margin-bottom: 20px;
        }
    }

    #wagonFormSection{
        form {
            color: $transport-color-1;
            border: 1px solid $transport-color-1;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;

            .nav-tabs{
                border-bottom: 1px solid $transport-color-1;
            }
            .tab-content{
                height: 320px;
                overflow-y: auto;
                padding-top: 20px;

                .row{
                    margin-left: 0px;
                    margin-right: 0px;
                }
            }
            .nav-tabs > li > a{
                color: $transport-color-1;
                border-radius: 0px;
                &:hover{
                    cursor: default;
                }
            }

            .nav-tabs > li:first-child > a{
                border-top-left-radius: 10px;
            }

            .nav-tabs > li.active > a{
                color: #FFFFFF;
                background-color: $transport-color-2;
                border: 1px solid $transport-color-2;
                border-bottom-color: transparent;
            }
        }
    }

    .form-detail{
        border: 1px solid $transport-color-1;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    button{
        outline: none;
    }

    .bold-text{
        font-weight: bold;
    }

    .margin-bottom-20 {
        margin-bottom: 20px;
    }

    .margin-bottom-15 {
        margin-bottom: 15px;
    }

    .margin-top-20 {
        margin-top: 20px;
    }

    .margin-top-15 {
        margin-top: 15px;
    }

    .margin-left-40 {
        margin-left: 40px;
    }

    .right-align {
        text-align: right;
    }

    .pointer {
        cursor: pointer;
    }

    .align-center{
        text-align: center;
    }

    .required-symbol {
        color: $transport-color-2;
    }

    .required-field {
        color: $transport-color-2;
        font-size: 12px;
    }

    
}
