@font-face {
  font-family: Roboto;
  src: url('../../font/roboto/Roboto-Regular.ttf') format('woff2');
}

$transport-color-1: #34495E;
$transport-color-2: #C0392B;
$transport-color-3: #dddddd;
$payment-color-1: #ea001b;
$payment-color-2: #f79f1a;

/*Apply Bootstrap Framework*/
div.bootstrap {
  @import "bootstrap/stylesheets/bootstrap";
}

#ng-app {
  height: 100%;

  body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
  }

  .css-grid{
    display: grid;
    grid-auto-rows: minmax(210px, auto);
    grid-gap: 20px;
  }

  .full-page {
    height: 100%;
  }
  /*LOADING*/
  div.bg-preload {
    display: none;
    position: fixed;
    z-index: 500;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(255,255,255,0.8);

    span.img-loading {
      background: transparent url('/img/loading.gif') 0 0 no-repeat;
      width: 33px;
      height: 33px;
      margin-left: -16px;
      margin-top: -16px;
      left: 50%;
      top: 50%;
      text-indent: -9999px;
      position: fixed;
      z-index: 600;
    }
  }
  /*LOGIN FORM*/
  .login-wrapper {
    overflow-y: auto;
    height: 100%;
    width: 100%;
    padding-top: 0;
    background-color: $transport-color-1;


    .logo-section {
      height: 40%;
      display: table;
      margin: auto;

      .logo {
        display: table-cell;
        vertical-align: bottom;

        img {
          height: 200px;
        }
      }
    }

    .login-section {
      height: 60%;
      display: table;
      margin: auto;
      padding-top: 5%;

      .login-form {
        width: 400px;
        height: auto;
        display: table-cell;
        vertical-align: top;

        .error-message {
          background: rgba(218, 68, 83, 0.7);
          display: block;
          height: 36px;
          line-height: 36px;
          color: #fff;
          font-size: 12px;
          font-style: italic;
          border: none;
          margin-bottom: 20px;
          padding: 0 10px;
          border-radius: 4px;
        }

        input[type=text], input[type=password] {
          font-family: 'Roboto', sans-serif;
          padding: 0 10px;
          width: 100%;
          border: 1px solid #CCC;
          height: 36px;
          line-height: 36px;
          border-radius: 4px;
          box-sizing: border-box;
        }

        button.submit {
          font-family: 'Roboto', sans-serif;
          height: 36px;
          width: 100%;
          background: $transport-color-2;
          color: white;
          text-transform: uppercase;
          border-style: none;
          outline: none;
          border-radius: 4px;
          cursor: pointer;

          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }
  /*BANNER*/
  .banner {
    background-color: $transport-color-1;
    height: 70px;
    line-height: 70px;

    .log-out-section {
      line-height: 70px;

      .log-out-btn {
        background: transparent;
        border: none;
        color: white;
        font-size: 16px;
        outline: none;

        &:hover {
          color: $transport-color-2;
        }
      }
    }

    .logo {
      height: 54px;
    }
  }
  /*PAGING*/
  .pagination{
    margin: 0;

    .total-page{
      span{
        &:hover, &:active{
          background-color: transparent;
          cursor: default;
        }
      }
    }
  }
  .pagination > .active > a,
  .pagination > .active > a:hover,
  .pagination > .active > a:focus,
  .pagination > .active > span,
  .pagination > .active > span:hover,
  .pagination > .active > span:focus {
    background-color: $transport-color-2;
    border-color: $transport-color-2;
    color: #FFFFFF;
  }
  .pagination > li > a,
  .pagination > li > span {
    color: $transport-color-2;
  }
  /*TABLE*/
  .table {
    input[type=checkbox] {
      height: 16px;
      width: 16px;
      margin: 0;
    }

    & > thead > tr {
      & > th {
        background-color: $transport-color-1;
        color: #ffffff;
        font-weight: normal;
        text-transform: uppercase;
        padding: 12px 0;

        &:first-child{
          border-left: 1px solid $transport-color-1;
        }

        &:last-child{
          border-right: 1px solid $transport-color-1;
        }
      }
    } 

    & > tbody > tr {
      & > td {
        padding: 12px;
      }
      &:nth-child(odd){
        background-color: #ffffff;
      }

      &:nth-child(even){
        background-color: #f5f5f5;
      }
    }
  
    .delete-td{
      cursor: pointer;
      vertical-align: middle;
      .glyphicon-trash{
        font-size: 18px;
      }
      &:hover{
        color: $transport-color-2;
      }
    }
  }

  .table-bordered {
    border: none;
  }

  #table-toahang{
    input{
      padding: 6px;
    }
    select{
      padding: 0;
    }
    td{
      padding: 12px 8px;
    }
    .td-padding-decrease{
      padding: 12px 2px;
    }
  }
  /*SEARCH TEXT BOX*/
  .search-text-box{
    .has-feedback{
      margin-bottom: 0;

      .form-control-feedback{
        color: #CCCCCC;
        pointer-events: visible;
        cursor: pointer;

        &:hover{
          color: $transport-color-2;
        }
      }
    }
  }

  /*BREADCRUMB*/
  .breadcrumb-trail {
    list-style: none;
    overflow: hidden;
    margin: 4px 0;
    padding: 0;
    background-color: #ECF0F1;
    border-left: 4px solid $transport-color-1;

    li {
      float: left;

      a {
        color: white;
        text-decoration: none;
        padding: 10px 0 10px 40px;
        background: brown; /* fallback color */
        background: hsla(184, 6%, 53%, 1);
        position: relative;
        display: block;
        float: left;

        &:after {
          content: " ";
          display: block;
          width: 0;
          height: 0;
          border-top: 50px solid transparent; /* Go big on the size, and let overflow hide */
          border-bottom: 50px solid transparent;
          border-left: 24px solid hsla(184, 6%, 53%, 1);
          position: absolute;
          top: 50%;
          margin-top: -50px;
          left: 100%;
          z-index: 2;
        }

        &:before {
          content: " ";
          display: block;
          width: 0;
          height: 0;
          border-top: 50px solid transparent; /* Go big on the size, and let overflow hide */
          border-bottom: 50px solid transparent;
          border-left: 24px solid transparent;
          position: absolute;
          top: 50%;
          margin-top: -50px;
          margin-left: 1px;
          left: 100%;
          z-index: 1;
        }
      }

      &:first-child a {
        padding-left: 10px;
      }

      &:nth-child(2) a {
        background: hsla(184, 6%, 63%, 1);
      }

      &:nth-child(2) a:after {
        border-left-color: hsla(184, 6%, 63%, 1);
      }

      &:nth-child(3) a {
        background: hsla(184, 6%, 73%, 1);
      }

      &:nth-child(3) a:after {
        border-left-color: hsla(184, 6%, 73%, 1);
      }

      &:nth-child(4) a {
        background: hsla(184, 6%, 83%, 1);
      }

      &:nth-child(4) a:after {
        border-left-color: hsla(184, 6%, 83%, 1);
      }

      &:nth-child(5) a {
        background: hsla(184, 6%, 93%, 1);
      }

      &:nth-child(5) a:after {
        border-left-color: hsla(184, 6%, 93%, 1);
      }

      &:last-child a {
        background: transparent !important;
        color: black;
        pointer-events: none;
        cursor: default;
      }

      &:last-child a:after {
        border: 0;
      }

      a:hover {
        background: hsla(184, 6%, 43%, 1);
      }

      a:hover:after {
        border-left-color: hsla(184, 6%, 43%, 1) !important;
      }
    }
  }
  //CUSTOM DATEPICKER
  .date-picker {
    a {
      color: #FFFFFF;

      &:hover, &:focus {
        color: #FFFFFF;
        text-decoration: none;
      }
    }

    ._720kb-datepicker-calendar {
      margin-top: 2px;
      margin-left: 0px;
      width: 80%;
    }

    ._720kb-datepicker-calendar-header:nth-child(odd) {
      background: $transport-color-1;
    }

    ._720kb-datepicker-calendar-header:nth-child(even) {
      background-color: #808d8e;
    }

    ._720kb-datepicker-calendar-month {
      color: #FFFFFF;
      font-weight: bold;
      font-size: 13px;

      span {
        color: #FFFFFF;
      }
    }

    ._720kb-datepicker-calendar-header a:hover {
      background-color: $transport-color-1;
    }

    ._720kb-datepicker-calendar-body {
      a {
        color: $transport-color-1;
      }
    }

    ._720kb-datepicker-calendar-day._720kb-datepicker-disabled {
      color: rgba(0,0,0,0.2);
      background: rgba(25,2,0,0.02);

      &:hover {
        background-color: #FFFFFF;
        color: rgba(0,0,0,0.2);
      }
    }

    ._720kb-datepicker-calendar-day:hover,
    ._720kb-datepicker-calendar-day._720kb-datepicker-active {
      background-color: $transport-color-1;
      color: #FFFFFF;
    }

    ._720kb-datepicker-calendar-years-pagination a._720kb-datepicker-active {
      background-color: $transport-color-1;
      color: #FFFFFF;
    }
  }

  /*FORM HORIZONTAL*/
  .form-horizontal{
    .control-label{
      text-align: left;
    }
  }

  .company-image-section {
    .company-image-wrapper {
      padding-left: 2px;
      padding-right: 2px;

      .company-image {
        height: 160px;
        width: 100%;
      }
    }

    .first-image {
      padding-left: 15px;
    }

    .last-image {
      padding-right: 15px;
    }
  }

  .form-group {
    &:after {
      display: block;
      content: '';
      clear: both;
    }
  }

  #mainPage, #qlToaHangPage, #qlGarage {
    margin: 20px 0;
    .manage-box {
      background-color: #2980B9;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border-radius: 4px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

      .wrapper-content{
        text-align: center;
        color: white;

        .icon {
          font-size: 50px;
          margin-bottom: 10px;
        }
      }
    }

    @media (min-width: 768px) {
      .css-grid{
        grid-template-columns: 1fr 1fr;
      }
    }

    @media (min-width: 1200px) {
      .css-grid{
        grid-template-columns: 1fr 1fr 1fr;
      }
    }

    .manage-box.garage-box {
      background-color: #C0392B;
    }

    .manage-box.xe-box {
      background-color: #2C3E50;
    }

    .manage-box.nv-box {
      background-color: #16a085;
    }

    .manage-box.kh-box {
      background-color: #e74c3c;
    }

    .manage-box.th-box {
      background-color: #f1c40f;
    }

    .manage-box.qt-box {
      background-color: #95a5a6;
    }

    .manage-box.dhkh-box {
      background-color: #2ecc71;
    }

    .manage-box.qldn-box {
      background-color: #FF9800;
    }

    .qlbc-box.qlbc-box {
      background-color: #27ae60;
    }

    .manage-box.sp-box {
      background-color: #f1c40f;
    }
    .manage-box.nk-box {
      background-color: #2C3E50;
    }
    .manage-box.bh-box {
      background-color: #e74c3c;
    }
    .manage-box.ql-box {
      background-color: #27ae60;
    }

    .no-margin-right {
      margin-right: 0px;
    }
  }

  .view-page {
    margin: 20px 0;

    .show-records-per-page {
      width: auto;
      display: inline-block;
    }
    button{
      height: 34px;
      margin-top: -4px;
    }
    .action-row {
      margin-bottom: 20px;
    }
    .fa-spin{
      font-size: 24px;
    }
  }

  .form-detail {
    border: 1px solid $transport-color-3;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0px 15px;
  }

  .ui-select-2 {
    border: none;
    padding: 0;
    height: 34px;

    .select2-choice {
      color: #555555;
      text-decoration: none;
    }
  }

  button {
    outline: none;
  }

  .bold-text {
    font-weight: bold;
  }

  .none-bg{
    background-color: #ffffff;
  }

  .margin-bottom-20 {
    margin-bottom: 20px;
  }

  .margin-bottom-15 {
    margin-bottom: 15px;
  }

  .margin-top-20 {
    margin-top: 20px;
  }

  .margin-top-15 {
    margin-top: 15px;
  }

  .margin-left-40 {
    margin-left: 40px;
  }

  .margin-top-7{
    margin-top: 7px;
  }

  .font-16{
    font-size: 16px;
  }

  .right-align {
    text-align: right;
  }

  .pointer {
    cursor: pointer;
  }

  .disabled{
    background-color:#eeeeee;
    opacity: 1;
  }

  .align-center {
    text-align: center;
  }

  .align-middle{
    vertical-align: middle;
  }

  .sort-asc-ico{
    font-size: 20px;
    position: absolute;
    top: 16px;
    color: $transport-color-2;
  }
  
  .sort-desc-ico{
    font-size: 20px;
    position: absolute;
    top: 8px;
    color: $transport-color-2;
  }

  .main-btn{
    background-color: $transport-color-2;
    border-color: $transport-color-2;
    color: #FFFFFF;

    &:hover{
      opacity: 0.9;
    }
  }

  .minor-btn{
    background-color: $transport-color-1;
    border-color: $transport-color-1;
    color: #FFFFFF;

    &:hover{
      opacity: 0.9;
    }
  }

  .hover:hover{
    cursor: pointer;
    color: $transport-color-2;
  }

  .hr{
    border-top: 2px solid #000000;
  }

  .checkbox-width{
    width: 70px;
  }

  .stt-width{
    width:70px;
  }

  .stt-width-min{
    width:50px;
  }

  .main-width-column{
    width: 120px;
  }

  .main-width-long-column{
    width: 160px;
  }

  .main-width-very-long-column{
    width: 180px;
  }

  .select-padding-decrease{
    padding: 2px;
  }
  
  .td-width-date{
    width: 130px;
  }

  .delete-width{
    width: 50px;
  }

  .edit-column-width, .detail-column-width{
    width: 60px;
  }
  
  .payment-column-width{
    width: 90px;
  }

  .detail-column{
    cursor: pointer;
    i {
      font-size: 18px;
    }
    &:hover{
      color: $transport-color-2;
    }
  }

  .edit-column{
    cursor: pointer;
    &:hover{
      color: $transport-color-2;
    }
  }

  .payment-column{
    cursor: pointer;
    i {
      color: $payment-color-1;
    }
    &:hover{
      i {
        color: $payment-color-2;
      }
    }
  }
  
  .payment-column--disable{
    cursor: none;
    pointer-events: none;
    i {
      color: $transport-color-3;
    }
  }

  .padding-right-8{
    padding-right: 8px;
  }

  .no-bold{
    font-weight: normal;
  }

  .validate-error{
    height: 34px;
    line-height: 34px;
  }

  .text-middle-input{
    height: 34px;
    line-height: 34px;
  }

  .paging {
    margin-bottom: 15px;
  }

  .report-row{
    margin: 0;
    text-align: center;
    padding: 12px;
    border: 1px solid #ddd;

    label{
      line-height: 34px;
      margin-right: 4px;
      margin-bottom: 0;
    }

    .garage-report-datepicker{
      width: 150px;
      margin-right: 4px;
      float: none;
      display: inline-block;

      input {
        display: inline-block;
        width: 150px;
      }
  }


  }
  
  .report-btn{
    border: none;
    background-color: $transport-color-1;
    height: 34px;
    margin-top: 0 !important;
    width: 90px;
    color: white;

    &:hover{
      opacity: 0.8;
    }
  }

  .required-symbol {
    color: $transport-color-2;
  }

  .required-field {
    color: $transport-color-2;
    font-size: 12px;
  }

  #reportSection{
    form {
      color: $transport-color-1;
      border: 1px solid $transport-color-1;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;

      .nav-tabs {
        border-bottom: 1px solid $transport-color-1;
      }

      .tab-content {
        height: 360px;
        overflow-y: auto;
        padding-top: 20px;

        .row {
          margin-left: 0px;
          margin-right: 0px;
        }
      }

      .nav-tabs > li > a {
        color: $transport-color-1;
        border-radius: 0px;

        &:hover {
          cursor: default;
        }
      }

      .nav-tabs > li:first-child > a {
        border-top-left-radius: 10px;
      }

      .nav-tabs > li.active > a {
        color: #FFFFFF;
        background-color: $transport-color-2;
        border: 1px solid $transport-color-2;
        border-bottom-color: transparent;
      }
    }

    .download-btn{
      border: none;
      background-color: $transport-color-1;
      height: 34px;
      width: 90px;
      color: white;

      &:hover{
        opacity: 0.8;
      }
    }
    .download-btn.from-to-date{
      margin-top: 23px;
      margin-right: 10px;
    }

    .table-row-loading{
      height: 200px;
      text-align: center;
      vertical-align: middle;
      font-size: 30px;
    }

    .no-data{
      text-align: center;
    }
  }

  .btn-fw{
    width: 64px;
    padding: 6px;
    
    &:disabled{
      background-color: $transport-color-3;
      border-color: #adadad;

      .fa-spinner{
        color: $transport-color-1;
        font-size: 16px;
      }
    }
  }

  .btn-fw-lg{
    width: 90px;
    @extend .btn-fw;
  }

  .line-height-form{
    line-height: 34px;
  }

}
