################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Transportation/bin/Debug
/Transportation/obj/Debug/Epinion.Clarity.dll
/Transportation/obj/Debug/Epinion.Clarity.pdb
/Transportation/obj/Debug/Transportation.csprojResolveAssemblyReference.cache
/Transportation/obj/Release

/Transportation.Api/bin/Debug
/Transportation.Api/obj/Debug/Epinion.Clarity.Api.dll
/Transportation.Api/obj/Debug/Epinion.Clarity.Api.pdb
/Transportation.Api/obj/Debug/Transportation.Api.csprojResolveAssemblyReference.cache
/Transportation.Api/obj/Release

/Transportation.IntegrationTests/bin/Debug
/Transportation.IntegrationTests/obj/Debug/Epinion.Clarity.IntegrationTests.dll
/Transportation.IntegrationTests/obj/Debug/Epinion.Clarity.IntegrationTests.pdb
/Transportation.IntegrationTests/obj/Debug/Transportation.IntegrationTests.csprojResolveAssemblyReference.cache

/Transportation.UnitTests/obj/Debug/Epinion.Clarity.UnitTests.dll
/Transportation.UnitTests/obj/Debug/Epinion.Clarity.UnitTests.pdb
/Transportation.UnitTests/obj/Debug/Transportation.UnitTests.csprojResolveAssemblyReference.cache
/Transportation.UnitTests/bin/Debug

/Transportation.Web/bin
/Transportation.Web/obj/Debug/Epinion.Clarity.Web.dll
/Transportation.Web/obj/Debug/Epinion.Clarity.Web.pdb
/Transportation.Web/obj/Debug/Transportation.Web.csprojResolveAssemblyReference.cache
/Transportation.Web/obj/Release

.vs/
/.vs/config/applicationhost.config
/Transportation.csproj.user
/Transportation.Web/Properties/PublishProfiles


*.dll
*.xml
*.pdb
*.config
*.txt
*.cache
*.cache
*.user
*.force
*.js
!markerwithlabel.js
!gulpfile.js
!GoogleMap.js
!clarity-app.js
*.pubxml


# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio 2015 cache/options directory
.vs/