<div id="customerFormSection" class="bootstrap form">
	<div class="container">
		<form name="customerForm" class="form-horizontal">
      <div class="form-group">
        <div class="col-sm-12">
          <action-button-form
              form="customerForm"
              is-save-visible="viewModel.$location.path() === '/ql-toa-hang/khach-hang/tao'"
              handle-save="viewModel.createCustomer(viewModel.currentCustomer)"
              is-save-or-edit-disabled="customerForm.$invalid || viewModel.isSubmitting"
              is-submitting="viewModel.isSubmitting"
              is-edit-visible="viewModel.$location.path() === '/ql-toa-hang/khach-hang/sua/' + viewModel.currentCustomer.id"
              handle-edit="viewModel.updateCustomer(viewModel.currentCustomer)"
              handle-cancel="viewModel.$location.path('/ql-toa-hang/khach-hang')"
          />
        </div>
      </div>

      <div class="form-group margin-top-20">
        <label for="fullName" class="col-sm-2 control-label">Họ tên <span class="required-symbol">*</span></label>
        <div class="col-sm-4" data-ng-class="{'has-error': customerForm.fullName.$touched && customerForm.fullName.$invalid}">
          <input id="fullName" name="fullName" class="form-control" type="text"
                 data-ng-model="viewModel.currentCustomer.fullName" required />
        </div>
        <div class="col-sm-4 validate-error">
          <span class="required-field" data-ng-if="customerForm.fullName.$touched && customerForm.fullName.$invalid">
            Họ tên phải được nhập</span>
        </div>
      </div>
      <div class="form-group">
        <label for="phoneNo" class="col-sm-2 control-label">Số điện thoại <span class="required-symbol">*</span></label>
        <div class="col-sm-4" data-ng-class="{'has-error': customerForm.phoneNo.$touched && customerForm.phoneNo.$invalid}">
          <input id="phoneNo" name="phoneNo" class="form-control" pattern="[0-9]+" type="text"
                 data-ng-model="viewModel.currentCustomer.phoneNo" required />
        </div>
        <div class="col-sm-4 validate-error">
          <span class="required-field" data-ng-if="customerForm.phoneNo.$touched && customerForm.phoneNo.$invalid">
            SĐT phải được nhập hoặc SĐT không hợp lệ</span>
        </div>
      </div>
      <div class="form-group">
        <label for="type" class="col-sm-2 control-label">Xếp loại</label>
        <div class="col-sm-4">
          <select id="type" name="type" class="form-control" data-ng-model="viewModel.currentCustomer.type">
            <option value="">--Chọn loại khách hàng--</option>
            <option value="A">A</option>
            <option value="B">B</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="employeeId" class="col-sm-2 control-label">Nhân viên thu nợ</label>
        <div class="col-sm-4">
          <select ui-select2 id="employeeId" class="form-control ui-select-2" data-ng-model="viewModel.currentCustomer.employeeId">
            <option value="">--Chọn nhân viên thu nợ--</option>
            <option data-ng-repeat="employee in viewModel.employeeList" value="{{employee.id}}">{{employee.fullName}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="totalOwned" class="col-sm-2 control-label">Số phát sinh</label>
        <div class="col-sm-4">
          <input id="totalOwned" name="totalOwned" class="form-control text-right" type="text" maxlength="15"
                 value="{{viewModel.currentCustomer.totalOwnedFormatted}}" readonly/>
        </div>
        <label for="newPayment" class="col-sm-2 control-label">Thanh toán</label>
        <div class="col-sm-4" >
          <input id="newPayment" name="newPayment" class="form-control text-right" type="text" maxlength="15" validator-max
                 data-ng-change="viewModel.updateNewPayment()" data-ng-model="viewModel.currentCustomer.newPaymentFormatted"
                 max={{viewModel.currentCustomer.totalDebt}} ng-disabled="!viewModel.isEditMode()"/>
          <span class="required-field validate-error" data-ng-if="customerForm.newPayment.$error.maxValue">
            <b>Thanh toán</b> phải nhỏ hơn <b>Còn nợ lại</b>
          </span>
        </div>
      </div>
      <div class="form-group">
        <label for="totalPay" class="col-sm-2 control-label">Tổng trả</label>
        <div class="col-sm-4">
          <input id="totalPay" name="totalPay" class="form-control text-right" type="text" maxlength="15"
                 value="{{viewModel.currentCustomer.totalPayFormatted}}" readonly/>
        </div>
        <label for="paymentMonth" class="col-sm-2 control-label">Tháng</label>
        <div class="col-sm-4">
          <select id="paymentMonth" class="form-control" data-ng-model="viewModel.currentCustomer.paymentMonth"
                  convert-to-number ng-disabled="!viewModel.isEditMode()">
            <option data-ng-repeat="month in viewModel.months" value="{{month}}">{{month}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="totalDebt" class="col-sm-2 control-label">Còn nợ lại</label>
        <div class="col-sm-4">
          <input id="totalDebt" name="totalDebt" class="form-control text-right" type="text" maxlength="15"
                 value="{{viewModel.currentCustomer.totalDebtFormatted}}" readonly/>
        </div>
        <label for="paymentYear" class="col-sm-2 control-label">Năm</label>
        <div class="col-sm-4">
          <input id="paymentYear" name="paymentYear" class="form-control" type="number" pattern="[0-9]{4}"
                 data-ng-model="viewModel.currentCustomer.paymentYear" ng-disabled="!viewModel.isEditMode()" />
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12">
          <action-button-form
              form="customerForm"
              is-save-visible="viewModel.$location.path() === '/ql-toa-hang/khach-hang/tao'"
              handle-save="viewModel.createCustomer(viewModel.currentCustomer)"
              is-save-or-edit-disabled="customerForm.$invalid || viewModel.isSubmitting"
              is-submitting="viewModel.isSubmitting"
              is-edit-visible="viewModel.$location.path() === '/ql-toa-hang/khach-hang/sua/' + viewModel.currentCustomer.id"
              handle-edit="viewModel.updateCustomer(viewModel.currentCustomer)"
              handle-cancel="viewModel.$location.path('/ql-toa-hang/khach-hang')"
          />
        </div>
      </div>
		</form>
	</div>
</div>