<div id="wagonSettlementInfo" class="bootstrap">
  <div class="container">
    <div class="form-detail">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="text-center">QUYẾT TOÁN TOA HÀNG - {{viewModel.getWagonCode(viewModel.currentWagonSettlement.wagonId)}}</h2>
        </div>
      </div>
      <div class="row margin-top-20">
        <div class="col-sm-2">
          <p class="bold-text">Khách hàng:</p>
        </div>
        <div class="col-sm-10">
          <p><b>{{viewModel.getCustomerName(viewModel.currentWagonSettlement.customerId)}}</b></p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <p class="bold-text">Đơn vị tính:</p>
        </div>
        <div class="col-sm-10">
          <p>{{::viewModel.currentWagonSettlement.unit}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <p class="bold-text">Số lượng:</p>
        </div>
        <div class="col-sm-10">
          <p>{{::viewModel.currentWagonSettlement.quantity | currency: "" : 0}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <p class="bold-text">Đơn giá:</p>
        </div>
        <div class="col-sm-10">
          <p>{{::viewModel.currentWagonSettlement.unitPrice | currency: "" : 0}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <p class="bold-text">Nơi đến:</p>
        </div>
        <div class="col-sm-10">
          <p>{{::viewModel.currentWagonSettlement.destination}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <p class="bold-text">Tổng Phí:</p>
        </div>
        <div class="col-sm-10">
          <p><b>{{::(viewModel.currentWagonSettlement.quantity * viewModel.currentWagonSettlement.unitPrice + viewModel.currentWagonSettlement.phiPhatSinh )| currency: "" : 0}}</b></p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <p class="bold-text">Phí phát sinh:</p>
        </div>
        <div class="col-sm-10">
          <p>{{::viewModel.currentWagonSettlement.phiPhatSinh | currency: "" : 0}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <p class="bold-text">Đã thanh toán:</p>
        </div>
        <div class="col-sm-10">
          <p>{{::viewModel.currentWagonSettlement.payment | currency: "" : 0}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <p class="bold-text">Còn lại:</p>
        </div>
        <div class="col-sm-10">
          <p>{{::viewModel.currentWagonSettlement.paymentRemain | currency: "" : 0}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <p class="bold-text">Thanh toán mới:</p>
        </div>
        <div class="col-sm-10">
          <p data-ng-repeat="payment in viewModel.paymentList">{{::payment.paymentDate}} _ {{::payment.paymentAmount | currency: "" : 0}}</p>
        </div>
      </div>
    </div>

    <div class="row margin-bottom-20">
      <div class="col-sm-12">
          <button class="btn btn-default" data-ng-click="viewModel.$location.path('/ql-toa-hang/quyet-toan')">
            <span class="glyphicon glyphicon-arrow-left"></span>
            <span>Quay lại</span>
          </button>
					
				<button class="btn btn-default negative-btn" data-ng-click="viewModel.$location.path('/ql-toa-hang/quyet-toan/sua/' + viewModel.currentWagonSettlement.id)">
					<span class="glyphicon glyphicon-pencil"></span>
					<span>Sửa</span>
				</button>
        </div>
    </div>
  </div>
</div>