<div id="wagonSettlementList" class="bootstrap view-page">
  <div class="container">
    <div class="row action-row">
      <div class="col-sm-9">
        <span>
          <label for="numOfTrucks">Hiển thị</label>
          <select id="numOfTrucks" class="form-control show-records-per-page" data-ng-model="viewModel.pageSize" data-ng-change="viewModel.initPagination()" convert-to-number>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="99999">All</option>
          </select>
        </span>
      </div>
      <div class="col-sm-3 search-text-box">
        <div class="form-group has-feedback">
          <input class="form-control" type="text" data-ng-model="viewModel.searchText" placeholder="Tìm kiếm nhanh" />
          <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"
                data-ng-click="viewModel.clearSearchText()"></span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
								<th class="main-width-very-long-column text-center">Mã toa hàng</th>
								<th class="text-center">Tên khách hàng</th>
                <th class="main-width-column text-center">Ngày đi</th>
                <th class="main-width-column text-center">Tổng phí</th>
                <th class="main-width-column text-center">Phí PS</th>
                <th class="main-width-column text-center">Đã thanh toán</th>
								<th class="main-width-column text-center">Còn lại</th>
								<th class="col-sm-1 text-center">Nợ?</th>
                <th class="edit-column-width text-center">Sửa</th>
                <th class="detail-column-width text-center">Xem</th>
              </tr>
            </thead>
            <tbody>
              <tr data-ng-if="viewModel.isLoading">
                <td class="text-center" colspan="10">
                  <i class="fa fa-spinner fa-spin"></i>
                </td>
              </tr>
              <tr data-ng-if="!viewModel.isLoading" data-ng-repeat="wagonSettlementViewModel in viewModel.getWagonSettlementListOnPage()">
								<td>{{::wagonSettlementViewModel.wagonCode}}</td>
								<td>{{::wagonSettlementViewModel.customerName}}</td>
                <td class="text-center">{{::wagonSettlementViewModel.departDate}}</td>
                <td class="text-right">{{::wagonSettlementViewModel.totalAmount}}</td>
                <td class="text-right">{{::wagonSettlementViewModel.phiPhatSinh}}</td>
                <td class="text-right">{{::wagonSettlementViewModel.payment}}</td>
								<td class="text-right">{{::wagonSettlementViewModel.paymentRemain}}</td>
								<td>{{::wagonSettlementViewModel.paymentStatus}}</td>
                <td class="text-center edit-column" data-ng-click="viewModel.goToWagonSettlementEditForm($event, wagonSettlementViewModel.id)">
                  <span class="glyphicon glyphicon-pencil"></span>
                </td>
                <td class="text-center detail-column" data-ng-click="viewModel.$location.path('/ql-toa-hang/quyet-toan/' + wagonSettlementViewModel.id)">
                  <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <custom-pagination num-of-pages="viewModel.numOfPages" current-page="viewModel.currentPage" />
  
  </div>
</div>