<div id="wagonSettlementFormSection" class="bootstrap form">
	<div class="container">
    <form name="wagonSettlementForm" class="form-horizontal">
      <div class="form-group">
        <div class="col-sm-12">
          <action-button-form
              form="wagonSettlementForm"
              is-save-visible="false"
              is-save-or-edit-disabled="wagonSettlementForm.$invalid || viewModel.isSubmitting"
              is-submitting="viewModel.isSubmitting"
              is-edit-visible="viewModel.$location.path() === '/ql-toa-hang/quyet-toan/sua/' + viewModel.currentWagonSettlement.id"
              handle-edit="viewModel.updateWagonSettlement(viewModel.currentWagonSettlement)"
              handle-cancel="viewModel.$location.path('/ql-toa-hang/quyet-toan')"
          />
        </div>
      </div>

      <div class="form-group margin-top-20">
        <label for="customerId" class="col-sm-2 control-label">Tên khách hàng</label>
        <div class="col-sm-4">
          <input id="customerId" name="customerId" class="form-control" type="text" value={{viewModel.getCustomerName(viewModel.currentWagonSettlement.customerId)}} disabled>
        </div>
        <label for="unitPrice" class="col-sm-2 control-label">Đơn giá</label>
        <div class="col-sm-4 text-right line-height-form">
          {{viewModel.currentWagonSettlement.unitPrice | currency: "" : 0}}
        </div>
      </div>
      <div class="form-group">
        <label for="wagonId" class="col-sm-2 control-label">Quyết toán toa hàng</label>
        <div class="col-sm-4">
          <input id="wagonId" name="wagonId" class="form-control" type="text" value={{viewModel.getWagonCode(viewModel.currentWagonSettlement.wagonId)}} disabled>
        </div>
        <label for="totalAmount" class="col-sm-2 control-label">Tổng phí</label>
        <div class="col-sm-4 text-right line-height-form">
          <b>{{viewModel.currentWagonSettlement.quantity * viewModel.currentWagonSettlement.unitPrice + viewModel.currentWagonSettlement.phiPhatSinh | currency: "" : 0}}</b>
        </div>
      </div>
      <div class="form-group">
        <label for="wagonId" class="col-sm-2 control-label">Ngày đi</label>
        <div class="col-sm-4">
          <input id="departDate" name="departDate" class="form-control" type="text" value={{viewModel.getDepartDate(viewModel.currentWagonSettlement.wagonId)}} disabled>
        </div>
        <label for="payment" class="col-sm-2 control-label">Phí phát sinh</label>
        <div class="col-sm-4 text-right line-height-form">
          {{viewModel.currentWagonSettlement.phiPhatSinh | currency: "" : 0}}
        </div>
      </div>
      <div class="form-group">
        <label for="payment" class="col-sm-2 control-label">Ngày phát sinh</label>
        <div class="col-sm-4">
          <input id="wagonPaymenDate" name="wagonPaymenDate" class="form-control" type="text" value={{viewModel.getPaymentDate(viewModel.currentWagonSettlement.wagonId)}} disabled>
        </div>
        <label for="payment" class="col-sm-2 control-label">Đã thanh toán</label>
        <div class="col-sm-4 text-right line-height-form">
          {{viewModel.currentWagonSettlement.payment | currency: "" : 0}}
        </div>
      </div>
      <div class="form-group">
        <label for="destination" class="col-sm-2 control-label">Nơi đến</label>
        <div class="col-sm-4">
          <input id="destination" name="destination" class="form-control" type="text" value={{viewModel.currentWagonSettlement.destination}} disabled>
        </div>
        <label for="paymentRemain" class="col-sm-2 control-label">Còn lại</label>
        <div class="col-sm-4 text-right line-height-form">
          <b>{{viewModel.currentWagonSettlement.paymentRemain | currency: "" : 0}}</b>
        </div>
      </div>
      <div class="form-group">
        <label for="unit" class="col-sm-2 control-label">Đơn vị tính</label>
        <div class="col-sm-4">
          <input id="unit" name="unit" class="form-control" type="text" data-ng-model="viewModel.currentWagonSettlement.unit" disabled>
        </div>
        <label for="paymentDate" class="col-sm-2 control-label">Ngày giao dịch <span class="required-symbol">*</span></label>
        <div class="col-sm-4">
          <datepicker class="date-picker" date-format="dd/MM/yyyy" date-set="{{viewModel.todayFormat}}">
            <input id="paymentDate" class="form-control" name="paymentDate" type="text" ng-model="viewModel.currentWagonSettlement.paymentDate" required />
          </datepicker>
        </div>
      </div>
      <div class="form-group">
        <label for="quantity" class="col-sm-2 control-label">Số lượng</label>
        <div class="col-sm-4 text-right">
          {{viewModel.currentWagonSettlement.quantity | currency: "" : 0}}
        </div>
        <label for="newPayment" class="col-sm-2 control-label">Thanh toán mới <span class="required-symbol">*</span></label>
        <div class="col-sm-4">
          <input id="newPayment" name="newPayment" class="form-control text-right" type="text" maxlength="15" data-ng-model="viewModel.currentWagonSettlement.newPaymentFormatted"
                 data-ng-change="viewModel.updateNewPayment()" max={{viewModel.currentWagonSettlement.paymentRemain}} validator-max required />
          <span class="required-field validate-error" data-ng-if="wagonSettlementForm.newPayment.$error.maxValue"><b>Thanh toán mới</b> phải nhỏ hơn <b>Còn lại</b></span>
        </div>
      </div>
      
      <div class="form-group">
        <div class="col-sm-12">
          <action-button-form
              form="wagonSettlementForm"
              is-save-visible="false"
              is-save-or-edit-disabled="wagonSettlementForm.$invalid || viewModel.isSubmitting"
              is-submitting="viewModel.isSubmitting"
              is-edit-visible="viewModel.$location.path() === '/ql-toa-hang/quyet-toan/sua/' + viewModel.currentWagonSettlement.id"
              handle-edit="viewModel.updateWagonSettlement(viewModel.currentWagonSettlement)"
              handle-cancel="viewModel.$location.path('/ql-toa-hang/quyet-toan')"
          />
        </div>
      </div>
    </form>
  </div>
</div>