<!doctype html>
<!--<html xmlns:ng="http://angularjs.org" id="ng-app">-->
<!--[if IE 8 ]>    <html xmlns:ng="http://angularjs.org" id="ng-app" class="ie8"> <![endif]-->
<!--[if (gt IE 8)|!(IE)]><!-->
<html xmlns:ng="http://angularjs.org" id="ng-app">
<!--<![endif]-->

  <head>
    <title>Vận chuyển Duyên Hải</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="content-type" content="text/html; charset=UTF8">

    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <link type="text/css" rel="stylesheet" href="/font/font-awesome/css/font-awesome.min.css?v=1803031645" />
    <link type="text/css" rel="stylesheet" href="/css/angular-datepicker.css?v=1803031645" />
    <link type="text/css" rel="stylesheet" href="/lib/autocomplete/autocomplete.css?v=1803031645" />
    <link type="text/css" rel="stylesheet" href="/css/transportation-style.css?v=1803031645" />
    <script type="text/javascript">
      var VERSION_NUMBER = '1803031645';
    </script>
    <script type="text/javascript" src="/js/all.min.js?v=1803031645"></script>
  </head>

  <body data-ng-init="VERSION_NUMBER = '1803031645'">
    <div data-ng-include data-src="'/html/pre-loading.html?v=' + VERSION_NUMBER"></div>
    <!--BANNER-->
    <div class="bootstrap banner" data-ng-if="locationPath !== undefined && locationPath !== '/login' && locationPath.indexOf('/ql-garage/ban-hang/in/') === -1">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <a href="#/">
              <img class="logo" src="/img/logo.gif" alt="Duyen Hai" />
            </a>
          </div>
          <div class="col-md-6 col-sm-6 right-align log-out-section" data-ng-controller="LogoutController">
						<span style="color:white; font-size: 16px">{{viewModel.getCurrentUserName()}}</span>
            <button class="log-out-btn" data-ng-click="viewModel.submit()">
              <i class="fa fa-sign-out" aria-hidden="true" style="font-size: 22px"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!--BREADCRUMBS-->
    <div class="bootstrap company-image-section" data-ng-if="locationPath !== undefined && locationPath !== '/login' && locationPath.indexOf('/ql-garage/ban-hang/in/') === -1">
      <div class="container">
        <!--<div class="row" data-ng-if="locationPath === '/'">
          <div class="col-sm-3 company-image-wrapper first-image">
            <img class="company-image" src="img/hinh1.jpg" />
          </div>
          <div class="col-sm-3 company-image-wrapper">
            <img class="company-image" src="img/hinh2.jpg" />
          </div>
          <div class="col-sm-3 company-image-wrapper">
            <img class="company-image" src="img/hinh3.jpg" />
          </div>
          <div class="col-sm-3 company-image-wrapper last-image">
            <img class="company-image" src="img/hinh4.jpg" />
          </div>
        </div>-->

        <div class="row">
          <div class="col-sm-12">
            <ul class="breadcrumb-trail">
              <li data-ng-repeat="nav in breadCrumbs">
                <a href="" data-ng-click="directToNav(nav.path)"><span>{{nav.name}}</span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div data-ng-class="{'full-page' : locationPath === '/login'}" data-ng-view=""></div>

    <!--FOOTER-->

  </body>

</html>