<!doctype html>
<!--<html xmlns:ng="http://angularjs.org" id="ng-app">-->
<!--[if IE 8 ]>    <html xmlns:ng="http://angularjs.org" id="ng-app" class="ie8"> <![endif]-->
<!--[if (gt IE 8)|!(IE)]><!-->
<html xmlns:ng="http://angularjs.org" id="ng-app">
<!--<![endif]-->

  <head>
    <title>Vận chuyển Duyên Hải</title>
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta http-equiv="content-type" content="text/html; charset=UTF8">
      
      <link type="text/css" rel="stylesheet" href="/font/font-awesome/css/font-awesome.min.css?v=$VERSION_NUMBER$" />
      <link type="text/css" rel="stylesheet" href="/css/transportation-style.css?v=$VERSION_NUMBER$" />
      <script type="text/javascript">
        var VERSION_NUMBER = '$VERSION_NUMBER$';
      </script>
      <script type="text/javascript" src="/js/all.min.js?v=$VERSION_NUMBER$"></script>
  </head>

  <body data-ng-init="VERSION_NUMBER = '$VERSION_NUMBER$'">
    <div data-ng-include data-src="'/html/pre-loading.html?v=' + VERSION_NUMBER"></div>
    <!--BANNER-->
    <div class="bootstrap banner" data-ng-if="locationPath !== undefined && locationPath !== '/login'">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <a href="#/">
              <img class="logo" src="/img/logo.gif" alt="Duyen Hai" />
            </a>
          </div>
          <div class="col-md-6 col-sm-6 right-align log-out-section" data-ng-controller="LogoutController">
            <button class="log-out-btn" data-ng-click="viewModel.submit()">
              <span>Đăng xuất</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!--BREADCRUMBS-->
    <div class="bootstrap company-image-section" data-ng-if="locationPath !== undefined && locationPath !== '/login'">
      <div class="container">
        <div class="row" data-ng-if="locationPath === '/'">
          <div class="col-sm-3 company-image-wrapper first-image">
            <img class="company-image" src="img/hinh1.jpg" />
          </div>
          <div class="col-sm-3 company-image-wrapper">
            <img class="company-image" src="img/hinh2.jpg" />
          </div>
          <div class="col-sm-3 company-image-wrapper">
            <img class="company-image" src="img/hinh3.jpg" />
          </div>
          <div class="col-sm-3 company-image-wrapper last-image">
            <img class="company-image" src="img/hinh4.jpg" />
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <ul class="breadcrumb-trail">
              <li data-ng-repeat="nav in breadCrumbs">
                <a href="" ng-click="directToNav(nav.path)"><span>{{nav.name}}</span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div data-ng-class="{'full-page' : locationPath === '/login'}" data-ng-view=""></div>

    <!--FOOTER-->

  </body>

</html>