<div id="employeeFormSection" class="bootstrap form">
	<div class="container">
		<form name="userForm" class="form-horizontal">
      <div class="form-group">
        <div class="col-sm-12">
          <button class="btn btn-default" data-ng-class="{'main-btn': !userForm.$invalid}"
                  data-ng-if="viewModel.$location.path() === '/ql-dang-nhap/tao'"
                  data-ng-click="viewModel.createUser(viewModel.currentUser)" data-ng-disabled="userForm.$invalid">
            <span class="glyphicon glyphicon-ok"></span>
            <span>Lưu</span>
          </button>

          <button class="btn btn-default" data-ng-class="{'main-btn': !userForm.$invalid}"
                  data-ng-if="viewModel.$location.path() === '/ql-dang-nhap/sua/' + viewModel.currentUser.id"
                  data-ng-click="viewModel.updateUser(viewModel.currentUser)" data-ng-disabled="userForm.$invalid">
            <span class="glyphicon glyphicon-ok"></span>
            <span>Cập nhật</span>
          </button>

          <button class="btn btn-default" data-ng-click="viewModel.$location.path('/ql-dang-nhap')">
            <span class="glyphicon glyphicon-remove"></span>
            <span>Hủy</span>
          </button>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12" data-ng-if="viewModel.errorMessage != null && viewModel.errorMessage != ''">
          <span class="required-field">{{viewModel.errorMessage}}</span>
        </div>
      </div>

      <div class="form-group margin-top-20">
        <label for="firstName" class="col-sm-2 control-label">Tên</label>
        <div class="col-sm-4">
          <input id="firstName" name="firstName" class="form-control" type="text" data-ng-model="viewModel.currentUser.firstName">
        </div>
      </div>
      <div class="form-group">
        <label for="lastName" class="col-sm-2 control-label">Họ</label>
        <div class="col-sm-4">
          <input id="lastName" name="lastName" class="form-control" type="text" data-ng-model="viewModel.currentUser.lastName">
        </div>
      </div>
      <div class="form-group">
        <label for="username" class="col-sm-2 control-label">Tên đăng nhập <span class="required-symbol">*</span></label>
        <div class="col-sm-4" data-ng-class="{'has-error': userForm.username.$touched && userForm.username.$invalid}">
          <input id="username" name="username" class="form-control" type="text" data-ng-model="viewModel.currentUser.username" required
                 data-ng-disabled="viewModel.$location.path() === '/ql-dang-nhap/sua/' + viewModel.currentUser.id">
        </div>
        <div class="col-sm-4 validate-error">
          <span class="required-field" data-ng-if="userForm.username.$touched && userForm.username.$invalid">
            Tên đăng nhập phải được nhập
          </span>
        </div>
      </div>

      <div class="form-group">
        <label for="password" class="col-sm-2 control-label">Mật Khẩu <span class="required-symbol">*</span></label>
        <div class="col-sm-4" data-ng-class="{'has-error': userForm.password.$touched && userForm.password.$invalid}">
          <input id="pasword" name="password" class="form-control" type="password" data-ng-model="viewModel.currentUser.password" required>
        </div>
        <div class="col-sm-4 validate-error">
          <span class="required-field" data-ng-if="userForm.password.$touched && userForm.password.$invalid">
            Mật khẩu phải được nhập
          </span>
        </div>
      </div>
      <div class="form-group">
        <label for="repeatPassword" class="col-sm-2 control-label">Nhập lại mật Khẩu <span class="required-symbol">*</span></label>
        <div class="col-sm-4" data-ng-class="{'has-error': userForm.repeatPassword.$touched && userForm.repeatPassword.$invalid}">
          <input id="repeatPassword" name="repeatPassword" class="form-control" type="password" data-ng-model="viewModel.currentUser.repeatPassword" required>
        </div>
        <div class="col-sm-4 validate-error">
          <span class="required-field" data-ng-if="userForm.repeatPassword.$touched && userForm.repeatPassword.$invalid">
            Nhập lại mật khẩu phải được nhập
          </span>
        </div>
      </div>
      <div class="form-group">
        <label for="role" class="col-sm-2 control-label">Chức vụ <span class="required-symbol">*</span></label>
        <div class="col-sm-4" data-ng-class="{'has-error': userForm.role.$touched && userForm.role.$invalid}">
          <select id="role" class="form-control" data-ng-model="viewModel.currentUser.role" convert-to-number required>
            <option value="">--Chọn chức vụ--</option>
            <option value="0">Admin</option>
            <option value="1">Quản lý toa hàng</option>
            <option value="2">Quản lý garage</option>
            <option value="3">Quản lý báo cáo</option>
          </select>
        </div>
        <div class="col-sm-4 validate-error">
          <span class="required-field" data-ng-if="userForm.role.$touched && userForm.role.$invalid">
            Chức vụ phải được nhập
          </span>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12">
          <button class="btn btn-default" data-ng-class="{'main-btn': !userForm.$invalid}"
                  data-ng-if="viewModel.$location.path() === '/ql-dang-nhap/tao'"
                  data-ng-click="viewModel.createUser(viewModel.currentUser)" data-ng-disabled="userForm.$invalid">
            <span class="glyphicon glyphicon-ok"></span>
            <span>Lưu</span>
          </button>

          <button class="btn btn-default" data-ng-class="{'main-btn': !userForm.$invalid}"
                  data-ng-if="viewModel.$location.path() === '/ql-dang-nhap/sua/' + viewModel.currentUser.id"
                  data-ng-click="viewModel.updateUser(viewModel.currentUser)" data-ng-disabled="userForm.$invalid">
            <span class="glyphicon glyphicon-ok"></span>
            <span>Cập nhật</span>
          </button>
          <button class="btn btn-default" data-ng-click="viewModel.$location.path('/ql-dang-nhap')">
            <span class="glyphicon glyphicon-remove"></span>
            <span>Hủy</span>
          </button>
        </div>
      </div>

		</form>
	</div>
</div>