<div id="mainPage" class="bootstrap">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="manage-box long-box" data-ng-click="viewModel.goToWagonsManagement()">
          <span class="glyphicon glyphicon-transfer icon" aria-hidden="true"></span>
          <h4>QUẢN LÝ TOA HÀNG</h4>
        </div>
        <div class="manage-box garage-box" data-ng-click="viewModel.goToGarageManagement()">
          <span class="glyphicon glyphicon-cog icon" aria-hidden="true"></span>
          <h4>QUẢN LÝ GARAGE</h4>
        </div>
      </div>
    </div>
  </div>
</div>