<div id="employeeInfo" class="bootstrap">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <img class="avatar" src="/img/logo.gif" style="width: 100%"/>
      </div>
      <div class="col-sm-9">
        <div class="list-group-item user-info">
          <h2 class="text-center title-name">{{viewModel.currentTruck.code}}</h2>
          <p><span class="bold-text">Biển Số:</span> <span>{{viewModel.currentTruck.licensePlate}}</span></p>
          <p><span class="bold-text">Số Khung:</span> <span>{{viewModel.currentTruck.vin}}</span></p>
          <p><span class="bold-text">Số Máy:</span> <span>{{viewModel.currentTruck.engineNo}}</span></p>
          <p><span class="bold-text">Năm SX:</span> <span>{{viewModel.currentTruck.yearOfManufacture}}</span></p>
          <p><span class="bold-text">Nhãn Hiệu:</span> <span>{{viewModel.currentTruck.brand}}</span></p>
          <p><span class="bold-text">Tải Trọng:</span> <span>{{viewModel.currentTruck.weight}}</span></p>
          <p><span class="bold-text">Ngày Bắt Đầu Lưu Hành:</span> <span>{{viewModel.changeDateFormat(viewModel.currentTruck.startUsingDate)}}</span></p>
          <p><span class="bold-text">Tài Xế Chịu Trách Nhiệm:</span> <span>{{viewModel.getEmployeeName(viewModel.currentTruck.driverId)}}</span></p>
          <p><span class="bold-text">Cổ Phần?:</span> <span>{{viewModel.currentTruck.stock}}</span></p>
          <p><span class="bold-text">Ngày Bắt Đầu Mua:</span> <span>{{viewModel.changeDateFormat(viewModel.currentTruck.buyingDate)}}</span></p>
          <p><span class="bold-text">Tiền Trả Hàng Tháng:</span> <span>{{viewModel.monthlyPaymentFormated}}</span></p>
          <p><span class="bold-text">Ngày Đăng Kiểm Gần Nhất:</span> <span>{{viewModel.changeDateFormat(viewModel.currentTruck.checkDate)}}</span></p>
					<p><span class="bold-text">Bảo Hiểm Đến:</span> <span>{{viewModel.changeDateFormat(viewModel.currentTruck.insuranceDate)}}</span></p>

          <button class="btn btn-default negative-btn" data-ng-click="viewModel.$location.path('/ql-toa-hang/xe')">
            <span class="glyphicon glyphicon-arrow-left"></span>
            <span>Quay lại</span>
          </button>

          <button class="btn btn-default negative-btn" data-ng-click="viewModel.$location.path('/ql-toa-hang/xe/sua/' + viewModel.currentTruck.id)">
            <span class="glyphicon glyphicon-pencil"></span>
            <span>Sửa xe</span>
          </button>

          <button class="btn btn-default negative-btn" data-ng-click="viewModel.removeTruckInDetail(viewModel.currentTruck)">
            <span class="glyphicon glyphicon-trash"></span>
            <span>Xóa xe</span>
          </button>
        </div>
      </div>
    </div>

  </div>
</div>