<div id="employeeInfo" class="bootstrap">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <img class="avatar" src="/img/logo.gif" style="width: 100%"/>
      </div>
      <div class="col-sm-9">
        <div class="list-group-item user-info">
          <h2 class="text-center title-name">{{viewModel.currentUser.username}}</h2>
					<p><span class="bold-text">Tên:</span> <span>{{viewModel.currentUser.firstName}}</span></p>
					<p><span class="bold-text">Họ:</span> <span>{{viewModel.currentUser.lastName}}</span></p>
          <p><span class="bold-text">Chức vụ:</span> <span>{{viewModel.getVNRoleName(viewModel.currentUser.role)}}</span></p>

          <button class="btn btn-default negative-btn" data-ng-click="viewModel.$location.path('/ql-dang-nhap')">
            <span class="glyphicon glyphicon-arrow-left"></span>
            <span>Quay lại</span>
          </button>

          <button class="btn btn-default negative-btn" data-ng-click="viewModel.$location.path('/ql-dang-nhap/sua/' + viewModel.currentUser.id)">
            <span class="glyphicon glyphicon-pencil"></span>
            <span>Sửa tài khoản</span>
          </button>

          <button class="btn btn-default negative-btn" data-ng-click="viewModel.removeUserInDetail(viewModel.currentUser)">
            <span class="glyphicon glyphicon-trash"></span>
            <span>Xóa tài khoản</span>
          </button>
        </div>
      </div>
    </div>

  </div>
</div>