<div id="employeeFormSection" class="bootstrap form">
	<div class="container">
		<form name="userForm">

			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="firstName">Tên</label>
						<input id="firstName" name="firstName" class="form-control" type="text" ng-model="viewModel.currentUser.firstName">
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="lastName">Họ</label>
						<input id="lastName" name="lastName" class="form-control" type="text"  ng-model="viewModel.currentUser.lastName">
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="username">Tên Đăng Nhập <span class="required-symbol">*</span></label>
						<input id="username" name="username" class="form-control" type="text" ng-model="viewModel.currentUser.username" required data-ng-disabled="viewModel.currentUser.isEdited == true">
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="yearOfManufacture">Mật Khẩu <span class="required-symbol">*</span></label>
						<input id="yearOfManufacture" name="username" class="form-control" type="password" ng-model="viewModel.currentUser.password" required>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="repeatPassword">Nhập Lại Mật Khẩu <span class="required-symbol">*</span></label>
						<span class="required-field" ng-if="userForm.licensePlate.$touched && userForm.licensePlate.$invalid">('Nhập Lại Mật Khẩu' phải được nhập)</span>
						<input id="repeatPassword" name="repeatPassword" class="form-control" type="password" ng-model="viewModel.currentUser.repeatPassword" required>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="role">Chức vụ</label>
						<select id="role" class="form-control" data-ng-model="viewModel.currentUser.role">
							<option value="">--Chọn chức vụ--</option>
							<option ng-repeat="role in viewModel.roleList" value="{{role.Ename}}">{{role.name}}</option>
						</select>
					</div>
				</div>
			</div>

			<button class="btn btn-default positive-btn" data-ng-if="viewModel.$location.path() === '/ql-dang-nhap/tao'"
							data-ng-click="viewModel.createUser(viewModel.currentUser)" data-ng-disabled="userForm.$invalid">
				<span class="glyphicon glyphicon-ok"></span>
				<span>Lưu</span>
			</button>

			<button class="btn btn-default positive-btn" data-ng-if="viewModel.$location.path() === '/ql-dang-nhap/sua/' + viewModel.currentUser.id"
							data-ng-click="viewModel.updateUser(viewModel.currentUser)" data-ng-disabled="userForm.$invalid">
				<span class="glyphicon glyphicon-ok"></span>
				<span>Cập nhật</span>
			</button>

			<button class="btn btn-default negative-btn" data-ng-click="viewModel.$location.path('/ql-dang-nhap')">
				<span class="glyphicon glyphicon-remove"></span>
				<span>Hủy</span>
			</button>

		</form>
	</div>

</div>