<div id="inputOrderList" class="bootstrap view-page">
	<div class="container">
		<div class="row action-row">
			<div class="col-sm-9">
				<span>
					<label for="numOfProductInputs">Hiển thị</label>
					<select id="numOfProductInputs" class="form-control show-records-per-page" data-ng-model="viewModel.pageSize" data-ng-change="viewModel.initPagination()" convert-to-number>
						<option value="5">5</option>
						<option value="10">10</option>
						<option value="20">20</option>
						<option value="999999">All</option>
					</select>
				</span>
				<button type="button" class="btn btn-default" data-ng-click="viewModel.goToInputOrderForm()">
					<span class="glyphicon glyphicon-plus"></span>
					<span class="hidden-xs">Nhập mới</span>
				</button>
				<button type="button" class="btn btn-default"
                data-ng-click="viewModel.removeOrders()"
                data-ng-disabled="!viewModel.hasSelectedInputOrder()">
					<span class="glyphicon glyphicon-trash"></span>
					<span class="hidden-xs">Xóa</span>
				</button>
			</div>
      <div class="col-sm-3 search-text-box">
        <div class="form-group has-feedback">
          <input class="form-control" type="text" data-ng-model="viewModel.searchText"
                 data-ng-model-options="{ debounce: 500 }" placeholder="Tìm kiếm nhanh" />
          <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"
                data-ng-click="viewModel.clearSearchText()"></span>
        </div>
      </div>
		</div>

    <div class="row report-row">
      <div class="col-sm-12">
        <label for="fromDate">Báo cáo</label>
        <datepicker class="date-picker garage-report-datepicker" date-format="dd/MM/yyyy">
          <input id="fromDate" class="form-control" name="fromDate" type="text" data-ng-model="viewModel.fromDate" placeholder="Từ ngày" autocomplete="off">
        </datepicker>

        <datepicker class="date-picker garage-report-datepicker" date-format="dd/MM/yyyy">
          <input id="toDate" class="form-control" name="toDate" type="text" data-ng-model="viewModel.toDate" placeholder="Đến ngày" autocomplete="off">
        </datepicker>

        <button class="btn btn-default report-btn" data-ng-click="viewModel.exportInputOrder()"
                data-ng-disabled="!viewModel.fromDate || !viewModel.toDate">
          Tải về <i data-ng-if="viewModel.isExportLoading" class="fa fa-spinner fa-pulse"></i>
        </button>
      </div>
    </div>

		<div class="row margin-top-20">
			<div class="col-sm-12">
				<div class="table-responsive">
					<table class="table table-hover table-bordered">
						<thead>
							<tr>
								<th class="checkbox-width text-center">
									<input id="checkAllProducts" type="checkbox" data-ng-model="viewModel.isCheckedAll"
												 data-ng-change="viewModel.selectAllInputOrdersOnPage()" />
								</th>
                <th class="text-center col-search"><span>Tên nhà cung cấp</span><i class="fa fa-search"></i></th>
                <th class="col-sm-2 text-center">Số sản phẩm</th>
                <th class="col-sm-2 text-center">Thành tiền</th>
                <th class="col-sm-2 text-center">Ngày nhập hàng</th>
                <th class="edit-column-width text-center">Sửa</th>
                <th class="detail-column-width text-center">Xem</th>
							</tr>
						</thead>
						<tbody>
              <tr data-ng-if="viewModel.isLoading">
                <td class="text-center" colspan="7">
                  <i class="fa fa-spinner fa-spin"></i>
                </td>
              </tr>
							<tr data-ng-if="!viewModel.isLoading" data-ng-repeat="inputOrderViewModel in viewModel.inputOrderListView">
								<td class="text-center" data-ng-click="$event.stopPropagation();">
									<input id="order-{{$index}}" type="checkbox" data-ng-model="inputOrderViewModel.isChecked" />
								</td>
								<td>{{::inputOrderViewModel.vendor}}</td>
                <td class="text-right">{{::inputOrderViewModel.numOfProducts}}</td>
                <td class="text-right">{{::inputOrderViewModel.totalAmount}}</td>
                <td class="text-center">{{::inputOrderViewModel.date}}</td>
                <td class="text-center edit-column" data-ng-click="viewModel.goToInputOrderEditForm($event, inputOrderViewModel.id)">
                  <span class="glyphicon glyphicon-pencil"></span>
                </td>
                <td class="text-center detail-column" data-ng-click="viewModel.$location.path('/ql-garage/nhap-kho/' + inputOrderViewModel.id)">
                  <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

    <custom-pagination
        data-ng-if="viewModel.inputOrderListView.length > 0"
        num-of-pages="viewModel.numOfPages"
        current-page="viewModel.currentPage"
    />

	</div>
</div>