<div id="reportSection" class="bootstrap">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <form>
          <ul class="nav nav-tabs" ng-init="tab = 1">
            <li ng-class="{'active': tab === 1}"><a data-toggle="tab" data-ng-click="tab = 1">Xe</a></li>
            <li ng-class="{'active': tab === 2}"><a data-toggle="tab" data-ng-click="tab = 2">Nhân viên</a></li>
            <li ng-class="{'active': tab === 3}"><a data-toggle="tab" data-ng-click="tab = 3">Khách hàng</a></li>
            <li ng-class="{'active': tab === 4}"><a data-toggle="tab" data-ng-click="tab = 4">Toa hàng</a></li>
            <li ng-class="{'active': tab === 5}"><a data-toggle="tab" data-ng-click="tab = 5">Quyết toán (Công nợ)</a></li>
          </ul>

          <div class="tab-content">
            <!--TAB 1-->
            <div class="tab-pane fade" ng-class="{'in active': tab === 1}" data-ng-show="tab === 1">
              <div class="row">
                <div class="col-sm-12">
                  <button class="btn btn-default download-btn" data-ng-click="viewModel.exportTruck()">
                    Tải về
                    &nbsp;<i data-ng-if="viewModel.isExportLoading" class="fa fa-spinner fa-pulse"></i>
                  </button>
                </div>
              </div>
            </div>

            <!--TAB 2-->
            <div class="tab-pane fade" ng-class="{'in active': tab === 2}" data-ng-show="tab === 2">
              <div class="row">
                <div class="col-sm-12">
                  <button class="btn btn-default download-btn" data-ng-click="viewModel.exportEmployee()">
                    Tải về
                    &nbsp;<i data-ng-if="viewModel.isExportLoading" class="fa fa-spinner fa-pulse"></i>
                  </button>
                </div>
              </div>
            </div>

            <!--TAB 3-->
            <div class="tab-pane fade" ng-class="{'in active': tab === 3}" data-ng-show="tab === 3">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="customerList">Khách hàng:</label>
                    <select
                      id="customerList"
                      ui-select2
                      multiple
                      class="form-control ui-select-2"
                      data-ng-model="viewModel.selectedCustomerIds"
                      data-ng-disabled="viewModel.isCheckedAll"
                    >
                      <option data-ng-repeat="customer in viewModel.customerList" value="{{customer.id}}">
                        {{customer.fullName}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <input id="checkAllCustomers" type="checkbox" data-ng-model="viewModel.isCheckedAll" />
                    <label for="checkAllCustomers">Tất cả</label>&nbsp;(Vì dữ liệu lớn nên sẽ phải <b>chờ lâu</b>. Vui lòng chọn từng khách hàng)
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <button
                    class="btn btn-default download-btn"
                    data-ng-click="viewModel.exportCustomer()"
                    data-ng-disabled="!viewModel.isCheckedAll && viewModel.selectedCustomerIds.length === 0"
                  >
                    Tải về
                    &nbsp;<i data-ng-if="viewModel.isExportLoading" class="fa fa-spinner fa-pulse"></i>
                  </button>
                </div>
              </div>
            </div>

            <!--TAB 4-->
            <div class="tab-pane fade in" ng-class="{'active': tab === 4}" data-ng-show="tab === 4">
              <div class="row">
                <div class="col-sm-2">
                  <div class="form-group">
                    <label for="fromDate">Từ ngày</label>
                    <datepicker class="date-picker" date-format="dd/MM/yyyy">
                      <input id="fromDate" class="form-control" name="fromDate" type="text" ng-model="viewModel.wagonReport.fromDate">
                    </datepicker>
                  </div>
                </div>
                <div class="col-sm-2">
                  <div class="form-group">
                    <label for="toDate">Đến ngày</label>
                    <datepicker class="date-picker" date-format="dd/MM/yyyy">
                      <input id="toDate" class="form-control" name="toDate" type="text" ng-model="viewModel.wagonReport.toDate">
                    </datepicker>
                  </div>
                </div>
                <div class="col-sm-8">
                  <button class="btn btn-default download-btn from-to-date" data-ng-click="viewModel.exportWagon()"
                          data-ng-disabled="viewModel.wagonReport.fromDate == null || viewModel.wagonReport.toDate == null">
                    Tải về <i data-ng-if="viewModel.isExportLoading" class="fa fa-spinner fa-pulse"></i>
                  </button>
                </div>
              </div>
            </div>

            <!--TAB 5-->
            <div class="tab-pane fade in" ng-class="{'active': tab === 5}" data-ng-show="tab === 5">
              <div class="row">
                <div class="col-sm-2">
                  <div class="form-group">
                    <label for="fromDate">Từ ngày</label>
                    <datepicker class="date-picker" date-format="dd/MM/yyyy">
                      <input id="fromDate" class="form-control" name="fromDate" type="text" ng-model="viewModel.wagonSettlementReport.fromDate">
                    </datepicker>
                  </div>
                </div>
                <div class="col-sm-2">
                  <div class="form-group">
                    <label for="toDate">Đến ngày</label>
                    <datepicker class="date-picker" date-format="dd/MM/yyyy">
                      <input id="toDate" class="form-control" name="toDate" type="text" ng-model="viewModel.wagonSettlementReport.toDate">
                    </datepicker>
                  </div>
                </div>
                <div class="col-sm-8">
                  <button class="btn btn-default download-btn from-to-date" data-ng-click="viewModel.exportWagonSettlement()"
                          data-ng-disabled="viewModel.wagonSettlementReport.fromDate == null || viewModel.wagonSettlementReport.toDate == null">
                    Tải về <i data-ng-if="viewModel.isExportLoading" class="fa fa-spinner fa-pulse"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>