<div id="reportSection" class="bootstrap">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
        <form>
          <ul class="nav nav-tabs" ng-init="tab = 1">
            <li ng-class="{'active': tab === 1}"><a data-toggle="tab" data-ng-click="tab = 1">Xe</a></li>
            <li ng-class="{'active': tab === 2}"><a data-toggle="tab" data-ng-click="tab = 2">Nhân viên</a></li>
            <li ng-class="{'active': tab === 3}"><a data-toggle="tab" data-ng-click="tab = 3">Khách hàng</a></li>
            <li ng-class="{'active': tab === 4}"><a data-toggle="tab" data-ng-click="tab = 4">Toa hàng</a></li>
            <li ng-class="{'active': tab === 5}"><a data-toggle="tab" data-ng-click="tab = 5">Quyết toán (Công nợ)</a></li>
          </ul>

          <div class="tab-content">
            <!--TAB 1-->
            <div class="tab-pane fade" ng-class="{'in active': tab === 1}" data-ng-show="tab === 1">
              <div class="row">
                <div class="col-sm-12">
                  <button class="btn btn-default download-btn" data-ng-click="viewModel.exportTruck()">Tải về
                    &nbsp;<i data-ng-if="viewModel.isExportLoading" class="fa fa-spinner fa-pulse"></i>
                  </button>
                </div>
              </div>
            </div>

            <!--TAB 2-->
            <div class="tab-pane fade" ng-class="{'in active': tab === 2}" data-ng-show="tab === 2">
              <div class="row">
                <div class="col-sm-12">
                  <button class="btn btn-default download-btn" data-ng-click="viewModel.exportEmployee()">
                    Tải về
                    &nbsp;<i data-ng-if="viewModel.isExportLoading" class="fa fa-spinner fa-pulse"></i>
                  </button>
                </div>
              </div>
            </div>

            <!--TAB 3-->
            <div class="tab-pane fade" ng-class="{'in active': tab === 3}" data-ng-show="tab === 3">
              <div class="row">
                <div class="col-sm-12">
                  <button class="btn btn-default download-btn" data-ng-click="viewModel.exportCustomer()">
                    Tải về
                    &nbsp;<i data-ng-if="viewModel.isExportLoading" class="fa fa-spinner fa-pulse"></i>
                  </button>
                </div>
              </div>
            </div>

            <!--TAB 4-->
            <div class="tab-pane fade in" ng-class="{'active': tab === 4}" data-ng-show="tab === 4">
              <div class="row">
                <div class="col-sm-2">
                  <div class="form-group">
                    <label for="fromDate">Từ ngày</label>
                    <datepicker class="date-picker" date-format="dd/MM/yyyy">
                      <input id="fromDate" class="form-control" name="fromDate" type="text" ng-model="viewModel.wagonReport.fromDate">
                    </datepicker>
                  </div>
                </div>
                <div class="col-sm-2">
                  <div class="form-group">
                    <label for="toDate">Đến ngày</label>
                    <datepicker class="date-picker" date-format="dd/MM/yyyy">
                      <input id="toDate" class="form-control" name="toDate" type="text" ng-model="viewModel.wagonReport.toDate">
                    </datepicker>
                  </div>
                </div>
                <div class="col-sm-8">
                  <!--<button class="btn btn-default download-btn from-to-date" data-ng-click="viewModel.viewWagon()"
                          data-ng-disabled="viewModel.wagonReport.fromDate == null || viewModel.wagonReport.toDate == null">
                    Xem <i data-ng-if="viewModel.isViewLoading" class="fa fa-spinner fa-pulse"></i>
                  </button>-->
                  <button class="btn btn-default download-btn from-to-date" data-ng-click="viewModel.exportWagon()"
                          data-ng-disabled="viewModel.wagonReport.fromDate == null || viewModel.wagonReport.toDate == null">
                    Tải về <i data-ng-if="viewModel.isExportLoading" class="fa fa-spinner fa-pulse"></i>
                  </button>
                </div>
              </div>

              <!--<div class="row" data-ng-if="viewModel.wagonReport != null && viewModel.wagonReport.data != null">
                <div class="col-sm-12 table-responsive" data-ng-if="viewModel.wagonReport.data.length > 0">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th class="align-center hidden-xs">Thành tiền</th>
                        <th class="align-center">Tổng chi phí</th>
                        <th class="align-center hidden-xs">Lợi nhuận</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr data-ng-repeat="wagonReportData in viewModel.wagonReport.data">
                        <td class="align-center hidden-xs">{{wagonReportData.totalAmount | currency: "" : 0}}</td>
                        <td class="align-center">To be confirmed....</td>
                        <td class="align-center hidden-xs">Thành tiền - Tổng chi phí</td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div class="col-sm-12 no-data" data-ng-if="viewModel.wagonReport.data.length ==0">
                  <h5>Không có dữ liệu</h5>
                </div>
              </div>-->
            </div>

            <!--TAB 5-->
            <div class="tab-pane fade in" ng-class="{'active': tab === 5}" data-ng-show="tab === 5">
              <div class="row">
                <div class="col-sm-2">
                  <div class="form-group">
                    <label for="fromDate">Từ ngày</label>
                    <datepicker class="date-picker" date-format="dd/MM/yyyy">
                      <input id="fromDate" class="form-control" name="fromDate" type="text" ng-model="viewModel.wagonSettlementReport.fromDate">
                    </datepicker>
                  </div>
                </div>
                <div class="col-sm-2">
                  <div class="form-group">
                    <label for="toDate">Đến ngày</label>
                    <datepicker class="date-picker" date-format="dd/MM/yyyy">
                      <input id="toDate" class="form-control" name="toDate" type="text" ng-model="viewModel.wagonSettlementReport.toDate">
                    </datepicker>
                  </div>
                </div>
                <div class="col-sm-8">
                  <!--<button class="btn btn-default download-btn from-to-date" data-ng-click="viewModel.viewWagonSettlement()"
                          data-ng-disabled="viewModel.wagonSettlementReport.fromDate == null || viewModel.wagonSettlementReport.toDate == null">
                    Xem <i data-ng-if="viewModel.isViewLoading" class="fa fa-spinner fa-pulse"></i>
                  </button>-->
                  <button class="btn btn-default download-btn from-to-date" data-ng-click="viewModel.exportWagonSettlement()"
                          data-ng-disabled="viewModel.wagonSettlementReport.fromDate == null || viewModel.wagonSettlementReport.toDate == null">
                    Tải về <i data-ng-if="viewModel.isExportLoading" class="fa fa-spinner fa-pulse"></i>
                  </button>
                </div>
              </div>

              <!--<div class="row" data-ng-if="viewModel.wagonSettlementReport != null && viewModel.wagonSettlementReport.data != null">
                <div class="col-sm-12 table-responsive" data-ng-if="viewModel.wagonSettlementReport.data.length > 0">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th class="align-center hidden-xs">Thành tiền</th>
                        <th class="align-center">Tổng chi phí</th>
                        <th class="align-center hidden-xs">Lợi nhuận</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr data-ng-repeat="wagonSettlementReportData in viewModel.wagonSettlementReport.data">
                        <td class="align-center hidden-xs">{{wagonSettlementReportData.totalAmount | currency: "" : 0}}</td>
                        <td class="align-center">To be confirmed....</td>
                        <td class="align-center hidden-xs">Thành tiền - Tổng chi phí</td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div class="col-sm-12 no-data" data-ng-if="viewModel.wagonSettlementReport.data.length ==0">
                  <h5>Không có dữ liệu</h5>
                </div>
              </div>-->
            </div>
          </div>
        </form>
			</div>
		</div>

	</div>
</div>