<div id="productList" class="bootstrap view-page">
	<div class="container">
		<div class="row action-row">
			<div class="col-sm-9">
				<span>
					<label for="numOfTrucks">Hiển thị</label>
					<select id="numOfTrucks" class="form-control show-records-per-page" data-ng-model="viewModel.pageSize" data-ng-change="viewModel.initPagination()" convert-to-number>
						<option value="5">5</option>
						<option value="10">10</option>
						<option value="20">20</option>
						<option value="999999">All</option>
					</select>
				</span>
				<button type="button" class="btn btn-default" data-ng-click="viewModel.goToProductForm()">
					<span class="glyphicon glyphicon-plus"></span>
					<span class="hidden-xs">Tạo sản phẩm mới</span>
				</button>
				<button type="button" class="btn btn-default"
                data-ng-click="viewModel.removeProducts()"
                data-ng-disabled="!viewModel.hasSelectedProduct()">
					<span class="glyphicon glyphicon-trash"></span>
					<span class="hidden-xs">Xóa sản phẩm</span>
				</button>
			</div>
      <div class="col-sm-3 search-text-box">
        <div class="form-group has-feedback">
          <input class="form-control" type="text" data-ng-model="viewModel.searchText" placeholder="Tìm kiếm nhanh" />
          <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"
                data-ng-click="viewModel.clearSearchText()"></span>
        </div>
      </div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<div class="table-responsive">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th class="checkbox-width text-center">
									<input id="checkAllProducts" type="checkbox" data-ng-model="viewModel.isCheckedAll"
												 data-ng-change="viewModel.selectAllProductsOnPage()" />
								</th>
								<th class="text-center">Tên sản phẩm</th>
								<th class="col-sm-4 text-center">Xuất xứ</th>
                <th class="edit-column-width text-center">Sửa</th>
                <th class="detail-column-width text-center">Xem</th>
							</tr>
						</thead>
						<tbody>
              <tr data-ng-if="viewModel.isLoading">
                <td class="text-center" colspan="5">
                  <i class="fa fa-spinner fa-spin"></i>
                </td>
              </tr>
							<tr data-ng-if="!viewModel.isLoading" data-ng-repeat="product in viewModel.productList">
								<td class="text-center" data-ng-click="$event.stopPropagation();">
									<input id="product-{{$index}}" type="checkbox" data-ng-model="product.isChecked" />
								</td>
								<td>{{::product.name}}</td>
								<td>{{::product.origin}}</td>
                <td class="text-center edit-column" data-ng-click="viewModel.goToProductEditForm($event, product.id)">
                  <span class="glyphicon glyphicon-pencil"></span>
                </td>
                <td class="text-center detail-column" data-ng-click="viewModel.$location.path('/ql-garage/san-pham/' + product.id)">
                  <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

    <custom-pagination
        data-ng-if="viewModel.productList.length > 0"
        num-of-pages="viewModel.numOfPages"
        current-page="viewModel.currentPage"
    />

	</div>
</div>