<div id="productFormSection" class="bootstrap form">
	<div class="container">
    <div class="row">
      <div class="col-sm-12">
        <span class="required-field" data-ng-if="viewModel.errorMessage != ''">
          {{::viewModel.errorMessage}}
        </span>
      </div>
    </div>
		<form name="productForm" class="form-horizontal">
      <div class="form-group">
        <div class="col-sm-12">
          <action-button-form
              form="productForm"
              is-save-visible="viewModel.$location.path() === '/ql-garage/san-pham/tao'"
              handle-save="viewModel.createProduct(viewModel.currentProduct)"
              is-save-or-edit-disabled="productForm.$invalid || viewModel.isSubmitting"
              is-submitting="viewModel.isSubmitting"
              is-edit-visible="viewModel.$location.path() === '/ql-garage/san-pham/sua/' + viewModel.currentProduct.id"
              handle-edit="viewModel.updateProduct(viewModel.currentProduct)"
              handle-cancel="viewModel.$location.path('/ql-garage/san-pham')"
          />
        </div>
      </div>
      <div class="form-group margin-top-20">
        <label for="name" class="col-sm-2 control-label">Tên sản phẩm <span class="required-symbol">*</span></label>
        <div class="col-sm-4" data-ng-class="{'has-error': (productForm.name.$touched && productForm.name.$invalid || viewModel.errorMessage != '')}">
          <input id="name" name="name" class="form-control" type="text" data-ng-model="viewModel.currentProduct.name" required>
        </div>
        <div class="col-sm-4 validate-error">
          <span class="required-field" data-ng-if="productForm.name.$touched && productForm.name.$invalid">
            Tên sản phẩm phải được nhập</span>
        </div>
      </div>
      <div class="form-group">
        <label for="origin" class="col-sm-2 control-label">Xuất xứ</label>
        <div class="col-sm-4">
          <input id="origin" name="origin" class="form-control" type="text" data-ng-model="viewModel.currentProduct.origin">
        </div>
      </div>

      <div class="form-group margin-top-20">
        <div class="col-sm-12">
          <action-button-form
              form="productForm"
              is-save-visible="viewModel.$location.path() === '/ql-garage/san-pham/tao'"
              handle-save="viewModel.createProduct(viewModel.currentProduct)"
              is-save-or-edit-disabled="productForm.$invalid || viewModel.isSubmitting"
              is-submitting="viewModel.isSubmitting"
              is-edit-visible="viewModel.$location.path() === '/ql-garage/san-pham/sua/' + viewModel.currentProduct.id"
              handle-edit="viewModel.updateProduct(viewModel.currentProduct)"
              handle-cancel="viewModel.$location.path('/ql-garage/san-pham')"
          />
        </div>
      </div>
		</form>
	</div>
</div>