<div id="productInfo" class="bootstrap">
  <div class="container">
    <div class="form-detail">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="text-center">SẢN PHẨM - {{::viewModel.currentProduct.id}}</h2>
        </div>
      </div>
      <div class="row margin-top-20">
        <div class="col-sm-2">
          <p class="bold-text">Tên sản phẩm:</p>
        </div>
        <div class="col-sm-10">
          <p>{{::viewModel.currentProduct.name}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <p class="bold-text">Xuất xứ:</p>
        </div>
        <div class="col-sm-10">
          <p>{{::viewModel.currentProduct.origin}}</p>
        </div>
      </div>
    </div>

    <div class="row margin-bottom-20">
      <div class="col-sm-12">
        <button class="btn btn-default" data-ng-click="viewModel.$location.path('/ql-garage/san-pham')">
          <span class="glyphicon glyphicon-arrow-left"></span>
          <span>Quay lại</span>
        </button>

        <button class="btn btn-default" data-ng-click="viewModel.$location.path('/ql-garage/san-pham/sua/' + viewModel.currentProduct.id)">
          <span class="glyphicon glyphicon-pencil"></span>
          <span>Sửa sản phẩm</span>
        </button>

        <button class="btn btn-default" data-ng-click="viewModel.removeProductInDetail(viewModel.currentProduct)">
          <span class="glyphicon glyphicon-trash"></span>
          <span>Xóa sản phẩm</span>
        </button>
      </div>
    </div>
  </div>
</div>