<div id="wagonList" class="bootstrap view-page">
  <div class="container">
    <div class="row action-row">
      <div class="col-sm-9">
        <span>
          <label for="numOfTrucks">Hiển thị</label>
          <select id="numOfTrucks" class="form-control show-records-per-page" data-ng-model="viewModel.pageSize" data-ng-change="viewModel.initPagination()" convert-to-number>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="999999">All</option>
          </select>
        </span>
        <button type="button" class="btn btn-default" data-ng-click="viewModel.goToWagonForm()">
          <span class="glyphicon glyphicon-plus"></span>
          <span class="hidden-xs">Tạo toa hàng mới</span>
        </button>
        <button type="button" class="btn btn-default"
                data-ng-click="viewModel.removeWagons()"
                data-ng-disabled="!viewModel.hasSelectedWagon()">
          <span class="glyphicon glyphicon-trash"></span>
          <span class="hidden-xs">Xóa toa hàng</span>
        </button>
      </div>
      <div class="col-sm-3 search-text-box">
        <div class="form-group has-feedback">
          <input class="form-control" type="text" data-ng-model="viewModel.searchText" placeholder="Tìm kiếm nhanh" />
          <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"
                data-ng-click="viewModel.clearSearchText()"></span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="table-responsive">
          <table class="table table-hover table-bordered">
            <thead>
              <tr>
                <th class="checkbox-width text-center">
                  <input id="checkAllWagons" type="checkbox" data-ng-model="viewModel.isCheckedAll"
                         data-ng-change="viewModel.selectAllWagonsOnPage()"/>
                </th>
                <th class="text-center">Mã toa hàng</th>
                <th class="main-width-column text-center">Ngày TT</th>
                <th class="main-width-column text-center">Ngày đi</th>
                <th class="main-width-column text-center">Ngày đến</th>
                <th class="main-width-column text-center">Nơi đi</th>
                <th class="main-width-column text-center">Nơi đến</th>
                <th class="main-width-column text-center">Tiền TTVCT</th>
                <th class="edit-column-width text-center">Sửa</th>
                <th class="detail-column-width text-center">Xem</th>
              </tr>
            </thead>
            <tbody>
              <tr data-ng-if="viewModel.isLoading">
                <td class="text-center" colspan="10">
                  <i class="fa fa-spinner fa-spin"></i>
                </td>
              </tr>
              <tr data-ng-if="!viewModel.isLoading" data-ng-repeat="wagonViewModel in viewModel.wagonListView">
                <td class="text-center" data-ng-click="$event.stopPropagation();">
                  <input id="wagon-{{$index}}" type="checkbox" data-ng-model="wagonViewModel.isChecked" />
                </td>
                <td>{{::wagonViewModel.code}}</td>
                <td class="text-center">{{::wagonViewModel.paymentDate}}</td>
                <td class="text-center">{{::wagonViewModel.departDate}}</td>
                <td class="text-center">{{::wagonViewModel.returnDate}}</td>
                <td>{{::wagonViewModel.departure}}</td>
                <td>{{::wagonViewModel.destination}}</td>
                <td class="text-right">{{::wagonViewModel.totalPayment}}</td>
                <td class="text-center edit-column" data-ng-click="viewModel.goToWagonEditForm($event, wagonViewModel.id)">
                  <span class="glyphicon glyphicon-pencil"></span>
                </td>
                <td class="text-center detail-column" data-ng-click="viewModel.$location.path('/ql-toa-hang/toa-hang/' + wagonViewModel.id)">
                  <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <custom-pagination
      data-ng-if="viewModel.wagonListView.length > 0"
      num-of-pages="viewModel.numOfPages"
      current-page="viewModel.currentPage"
    />

  </div>
</div>