<div id="wagonFormSection" class="bootstrap">
  <div class="container">
    <form name="wagonForm">
      <div class="row">
        <div class="col-sm-12">
          <button class="btn btn-default" data-ng-class="{'main-btn': !wagonForm.$invalid}"
                  data-ng-if="viewModel.$location.path() === '/ql-toa-hang/toa-hang/tao'"
                  data-ng-click="viewModel.createWagon(viewModel.currentWagon)" data-ng-disabled="wagonForm.$invalid">
            <span class="glyphicon glyphicon-ok"></span>
            <span>Lưu</span>
          </button>

          <button class="btn btn-default" data-ng-class="{'main-btn': !wagonForm.$invalid}"
                  data-ng-if="viewModel.$location.path() === '/ql-toa-hang/toa-hang/sua/' + viewModel.currentWagon.id"
                  data-ng-click="viewModel.updateWagon(viewModel.currentWagon)" data-ng-disabled="wagonForm.$invalid">
            <span class="glyphicon glyphicon-ok"></span>
            <span>Cập nhật</span>
          </button>

          <button class="btn btn-default negative-btn" data-ng-click="viewModel.$location.path('/ql-toa-hang/toa-hang')">
            <span class="glyphicon glyphicon-remove"></span>
            <span>Hủy</span>
          </button>
        </div>
      </div>

      <div class="row margin-top-20">
        <div class="col-sm-3">
          <div class="form-group">
            <label for="paymentDate">Ngày thanh toán <span class="required-symbol">*</span></label>
            <span class="required-field" ng-if="wagonForm.paymentDate.$touched && wagonForm.paymentDate.$invalid">(Ngày TT phải được nhập)</span>
            <datepicker class="date-picker" date-format="dd/MM/yyyy">
              <input id="paymentDate" class="form-control" name="paymentDate" type="text" data-ng-model="viewModel.currentWagon.paymentDate"
                data-ng-change="viewModel.updateWagonCode()" required>
            </datepicker>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label for="paymentPlace">Nơi thanh toán <span class="required-symbol">*</span></label>
            <span class="required-field" ng-if="wagonForm.paymentPlace.$touched && wagonForm.paymentPlace.$invalid">(Nơi TT phải được nhập)</span>
            <select id="paymentPlace" name="paymentPlace" class="form-control" data-ng-model="viewModel.currentWagon.paymentPlace" required>
              <option value="" data-placeholder="true">--Chọn nơi thanh toán--</option>
              <option value="Công ty">Công ty</option>
              <option value="Mỹ Tường">Mỹ Tường</option>
              <option value="Kiên Giang">Kiên Giang</option>
              <option value="Cam Ranh">Cam Ranh</option>
              <option value="Cà Ná">Cà Ná</option>
            </select>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label for="departDate">Ngày đi <span class="required-symbol">*</span></label>
            <span class="required-field" ng-if="wagonForm.departDate.$touched && wagonForm.departDate.$invalid">(Ngày đi phải được nhập)</span>
            <datepicker class="date-picker" date-format="dd/MM/yyyy">
              <input id="departDate" class="form-control" name="departDate" type="text" data-ng-model="viewModel.currentWagon.departDate" required>
            </datepicker>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label for="returnDate">Ngày đến <span class="required-symbol">*</span></label>
            <span class="required-field" ng-if="wagonForm.returnDate.$touched && wagonForm.returnDate.$invalid">(Ngày đến phải được nhập)</span>
            <datepicker class="date-picker" date-format="dd/MM/yyyy">
              <input id="returnDate" class="form-control" name="returnDate" type="text" data-ng-model="viewModel.currentWagon.returnDate" required>
            </datepicker>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3">
          <div class="form-group">
            <label for="truckId">Số xe <span class="required-symbol">*</span></label>
            <span class="required-field" ng-if="wagonForm.truckId.$touched && wagonForm.truckId.$invalid">(Số xe phải được nhập)</span>
            <select ui-select2 id="truckId" name="truckId" class="form-control ui-select-2" data-ng-model="viewModel.currentWagon.truckId"
                    data-ng-change="viewModel.updateWagonCode()">
              <option value="">--Chọn số xe --</option>
              <option data-ng-repeat="truck in viewModel.truckList" value="{{truck.id}}">{{truck.licensePlate}}</option>
            </select>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label for="employeeId">Tài xế <span class="required-symbol">*</span></label>
            <span class="required-field" ng-if="wagonForm.employeeId.$touched && wagonForm.employeeId.$invalid">(Tài xế phải được nhập)</span>
            <select ui-select2 id="employeeId" name="employeeId" class="form-control ui-select-2" data-ng-model="viewModel.currentWagon.employeeId">
              <option value="">--Chọn tài xế--</option>
              <option data-ng-repeat="employee in viewModel.employeeList" value="{{employee.id}}">{{employee.fullName}}</option>
            </select>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label for="departure">Nơi đi <span class="required-symbol">*</span></label>
            <span class="required-field" ng-if="wagonForm.departure.$touched && wagonForm.departure.$invalid">(Nơi đi phải được nhập)</span>
            <input id="departure" name="departure" class="form-control" type="text" data-ng-model="viewModel.currentWagon.departure" required />
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label for="destination">Nơi đến <span class="required-symbol">*</span></label>
            <span class="required-field" ng-if="wagonForm.destination.$touched && wagonForm.destination.$invalid">(Nơi đến phải được nhập)</span>
            <input id="destination" name="destination" class="form-control" type="text" data-ng-model="viewModel.currentWagon.destination" required />
          </div>
        </div>
      </div>

      <div class="row margin-bottom-15">
        <div class="col-sm-12 text-right">
          <button type="button" class="btn btn-default minor-btn" data-ng-click="viewModel.createWagonSettlement(viewModel.currentWagon)">
            <span class="glyphicon glyphicon-plus"></span>
            <span class="hidden-xs">Tạo đơn hàng</span>
          </button>
        </div>
      </div>

      <div class="row margin-top-15">
        <div class="col-sm-12">
          <div class="table-responsive">
            <table id="table-toahang" class="table table-hover table-bordered">
              <thead>
                <tr>
                  <th class="stt-width-min align-center">STT</th>
                  <th class="align-center">Tên KH <span class="required-symbol">*</span></th>
                  <th class="col-sm-1 align-center">Số lượng</th>
                  <th class="col-sm-1 align-center">ĐVT</th>
                  <th class="main-width-column align-center">Nơi đến</th>
                  <th class="main-width-column align-center">Đơn giá</th>
                  <th class="col-sm-1 align-center">PS</th>
                  <th class="main-width-column align-center">Phí PS</th>
                  <th class="main-width-column align-center">Thành tiền</th>
                  <th class="main-width-column align-center">Thanh toán</th>
                  <th class="delete-width align-center"></th>
                </tr>
              </thead>
              <tbody>
                <tr data-ng-repeat="wagonSettlement in viewModel.currentWagon.wagonSettlements">
                  <td class="align-center align-middle">{{$index + 1}}</td>
                  <td>
                    <select ui-select2 id="customerId" class="form-control ui-select-2" data-ng-model="wagonSettlement.customerId" required>
                      <option value="">--Chọn khách hàng--</option>
                      <option data-ng-repeat="customer in viewModel.customerList" value="{{customer.id}}">{{customer.fullName}}</option>
                    </select>
                  </td>
                  <td class="align-center">
                    <input class="form-control text-right" type="number" min="1" data-ng-model="wagonSettlement.quantity"
                           data-ng-change="viewModel.calculateTotalAmountWagonSettlements()" />
                  </td>
                  <td class="align-center td-padding-decrease">
                    <select id="unit" class="form-control" data-ng-model="wagonSettlement.unit">
                      <option value="Thùng">Thùng</option>
                      <option value="Bao">Bao</option>
                      <option value="Chuyến">Chuyến</option>
                    </select>
                  </td>
                  <td class="align-center">
                    <input class="form-control" type="text" data-ng-model="wagonSettlement.destination" />
                  </td>
                  <td class="align-center">
                    <input id="unitPrice" name="unitPrice" class="form-control text-right" type="text" maxlength="15" data-ng-model="wagonSettlement.unitPriceFormatted"
                           data-ng-change="viewModel.onChangeWagonSettlement(wagonSettlement, 'unitPrice', 'unitPriceFormatted')" />
                  </td>
                  <td class="align-center">
                    <select id="unit" class="form-control" data-ng-model="wagonSettlement.lyDoPhatSinh">
                      <option value="Phụ thu">Phụ thu</option>
                      <option value="Phí Phà">Phí Phà</option>
                      <option value="Tăng bo">Tăng bo</option>
                      <option value="Kiểm dịch">Kiểm dịch</option>
                      <option value="Khác">Khác</option>
                    </select>
                  </td>
                  <td class="align-center">
                    <input id="phiPhatSinh" name="phiPhatSinh" class="form-control text-right" type="text" maxlength="15" data-ng-model="wagonSettlement.phiPhatSinhFormatted"
                           data-ng-change="viewModel.formatCurrency(wagonSettlement, 'phiPhatSinh', 'phiPhatSinhFormatted')" />
                  </td>
                  <td class="text-right align-middle">{{wagonSettlement.quantity * wagonSettlement.unitPrice | currency: "" : 0 }}</td>
                  <td class="align-center">
                    <input id="payment" name="payment" class="form-control text-right" type="text" maxlength="15" data-ng-model="wagonSettlement.paymentFormatted"
                           data-ng-change="viewModel.onChangeWagonSettlement(wagonSettlement, 'payment', 'paymentFormatted')" />
                  </td>
                  <td class="align-center delete-td" data-ng-click="viewModel.deleteWagonSettlement($index)">
                    <span class="glyphicon glyphicon-trash"></span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td class="align-center col-sm-5 align-middle bold-text">Tổng cộng</td>
              <td class="align-center col-sm-4 align-middle"></td>
              <td class="text-right col-sm-3 align-middle bold-text">{{viewModel.totalAmountWagonSettlements | currency: "" : 0 }}</td>
            </tr>
            <!--CHI-->
            <tr>
              <td class="align-center align-middle bold-text none-bg" rowspan="6">Chi</td>
              <td class="align-center align-middle"><label class="no-bold" for="costOfTruck">Phí xe</label></td>
              <td class="align-center">
                <input id="costOfTruck" name="costOfTruck" class="form-control text-right" type="text" maxlength="15" data-ng-model="viewModel.currentWagon.costOfTruckFormatted"
                       data-ng-change="viewModel.formatCurrency(viewModel.currentWagon, 'costOfTruck', 'costOfTruckFormatted')" />
              </td>
            </tr>
            <tr>
              <td class="align-center align-middle"><label class="no-bold" for="costOfService">Điện thoại + Dịch vụ</label></td>
              <td class="align-center">
                <input id="costOfService" name="costOfService" class="form-control text-right" type="text" maxlength="15" data-ng-model="viewModel.currentWagon.costOfServiceFormatted"
                       data-ng-change="viewModel.formatCurrency(viewModel.currentWagon, 'costOfService', 'costOfServiceFormatted')" />
              </td>
            </tr>
            <tr>
              <td class="align-center align-middle"><label class="no-bold" for="costOfTangBoXe">Tăng bo xe</label></td>
              <td class="align-center">
                <input id="costOfTangBoXe" name="costOfTangBoXe" class="form-control text-right" type="text" maxlength="15" data-ng-model="viewModel.currentWagon.costOfTangBoXeFormatted"
                       data-ng-change="viewModel.formatCurrency(viewModel.currentWagon, 'costOfTangBoXe', 'costOfTangBoXeFormatted')" />
              </td>
            </tr>
            <tr>
              <td class="align-center align-middle"><label class="no-bold" for="costOfPenalty">Biên bản phạt</label></td>
              <td class="align-center">
                <input id="costOfPenalty" name="costOfPenalty" class="form-control text-right" type="text" maxlength="15" data-ng-model="viewModel.currentWagon.costOfPenaltyFormatted"
                       data-ng-change="viewModel.formatCurrency(viewModel.currentWagon, 'costOfPenalty', 'costOfPenaltyFormatted')" />
              </td>
            </tr>
            <tr>
              <td class="align-center align-middle"><label class="no-bold" for="costOfExtra">Diễn giải phụ</label></td>
              <td class="align-center">
                <input id="costOfExtra" name="costOfExtra" class="form-control text-right" type="text" maxlength="15" data-ng-model="viewModel.currentWagon.costOfExtraFormatted"
                       data-ng-change="viewModel.formatCurrency(viewModel.currentWagon, 'costOfExtra', 'costOfExtraFormatted')" />
              </td>
            </tr>
            <tr>
              <td class="align-center align-middle bold-text">Cộng chi</td>
              <td class="text-right align-middle bold-text">
                {{viewModel.currentWagon.costOfTruck + viewModel.currentWagon.costOfService + viewModel.currentWagon.costOfTangBoXe +
                viewModel.currentWagon.costOfPenalty + viewModel.currentWagon.costOfExtra | currency: "" : 0}}
              </td>
            </tr>
            <tr>
              <td class="align-center align-middle bold-text">Còn lại</td>
              <td class="align-center align-middle"></td>
              <td class="text-right align-middle bold-text">
                {{viewModel.totalAmountWagonSettlements - (viewModel.currentWagon.costOfTruck + viewModel.currentWagon.costOfService +
                viewModel.currentWagon.costOfTangBoXe + viewModel.currentWagon.costOfPenalty + viewModel.currentWagon.costOfExtra) | currency: "" : 0}}
              </td>
            </tr>
            <!--THANH TOÁN VỚI CÔNG TY-->
            <tr>
              <td class="align-center align-middle bold-text" rowspan="8">Tiền thanh toán với công ty</td>
              <td class="align-center align-middle"><label class="no-bold" for="paymentOfTruck">Tiền xe</label></td>
              <td class="align-center">
                <input id="paymentOfTruck" name="paymentOfTruck" class="form-control text-right" type="text" maxlength="15" data-ng-model="viewModel.currentWagon.paymentOfTruckFormatted"
                       data-ng-change="viewModel.formatCurrency(viewModel.currentWagon, 'paymentOfTruck', 'paymentOfTruckFormatted')" />
              </td>
            </tr>
            <tr>
              <td class="align-center align-middle"><label class="no-bold" for="paymentOfRepairing">Sửa xe</label></td>
              <td class="align-center">
                <input id="paymentOfRepairing" name="paymentOfRepairing" class="form-control text-right" type="text" maxlength="15" data-ng-model="viewModel.currentWagon.paymentOfRepairingFormatted"
                       data-ng-change="viewModel.formatCurrency(viewModel.currentWagon, 'paymentOfRepairing', 'paymentOfRepairingFormatted')" />
              </td>
            </tr>
            <tr>
              <td class="align-center align-middle"><label class="no-bold" for="paymentOfOil">Tiền dầu</label></td>
              <td class="align-center">
                <input id="paymentOfOil" name="paymentOfOil" class="form-control text-right" type="text" maxlength="15" data-ng-model="viewModel.currentWagon.paymentOfOilFormatted"
                       data-ng-change="viewModel.formatCurrency(viewModel.currentWagon, 'paymentOfOil', 'paymentOfOilFormatted')" />
              </td>
            </tr>
            <tr>
              <td class="align-center align-middle"><label class="no-bold" for="paymentOfLuong">Lượng</label></td>
              <td class="align-center">
                <input id="paymentOfLuong" name="paymentOfLuong" class="form-control text-right" type="text" maxlength="15" data-ng-model="viewModel.currentWagon.paymentOfLuongFormatted"
                       data-ng-change="viewModel.formatCurrency(viewModel.currentWagon, 'paymentOfLuong', 'paymentOfLuongFormatted')" />
              </td>
            </tr>
            <tr>
              <td class="align-center align-middle"><label class="no-bold" for="paymentOfService">Dịch vụ</label></td>
              <td class="align-center">
                <input id="paymentOfService" name="paymentOfService" class="form-control text-right" type="text" maxlength="15" data-ng-model="viewModel.currentWagon.paymentOfServiceFormatted"
                       data-ng-change="viewModel.formatCurrency(viewModel.currentWagon, 'paymentOfService', 'paymentOfServiceFormatted')">
              </td>
            </tr>
            <tr>
              <td class="align-center align-middle"><label class="no-bold" for="paymentOfHangVe">Hàng về</label></td>
              <td class="align-center">
                <input id="paymentOfHangVe" name="paymentOfHangVe" class="form-control text-right" type="text" maxlength="15" data-ng-model="viewModel.currentWagon.paymentOfHangVeFormatted"
                       data-ng-change="viewModel.formatCurrency(viewModel.currentWagon, 'paymentOfHangVe', 'paymentOfHangVeFormatted')">
              </td>
            </tr>
            <tr>
              <td class="align-center align-middle"><label class="no-bold" for="paymentOf10Percent">Trích 10%</label></td>
              <td class="align-center">
                <input id="paymentOf10Percent" name="paymentOf10Percent" class="form-control text-right" type="text" maxlength="15" data-ng-model="viewModel.currentWagon.paymentOf10PercentFormatted"
                       data-ng-change="viewModel.formatCurrency(viewModel.currentWagon, 'paymentOf10Percent', 'paymentOf10PercentFormatted')">
              </td>
            </tr>
            <tr>
              <td class="align-center align-middle bold-text">CỘNG</td>
              <td class="text-right bold-text">
                {{viewModel.currentWagon.paymentOfTruck + viewModel.currentWagon.paymentOfRepairing + viewModel.currentWagon.paymentOfOil +
                viewModel.currentWagon.paymentOfLuong + viewModel.currentWagon.paymentOfService + viewModel.currentWagon.paymentOfHangVe +
                viewModel.currentWagon.paymentOf10Percent | currency: "" : 0}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </form>

    <div class="row margin-bottom-15">
      <div class="col-sm-12">
        <button class="btn btn-default" data-ng-class="{'main-btn': !wagonForm.$invalid}"
            data-ng-if="viewModel.$location.path() === '/ql-toa-hang/toa-hang/tao'"
            data-ng-click="viewModel.createWagon(viewModel.currentWagon)" data-ng-disabled="wagonForm.$invalid">
          <span class="glyphicon glyphicon-ok"></span>
          <span>Lưu</span>
        </button>

        <button class="btn btn-default" data-ng-class="{'main-btn': !wagonForm.$invalid}"
            data-ng-if="viewModel.$location.path() === '/ql-toa-hang/toa-hang/sua/' + viewModel.currentWagon.id"
            data-ng-click="viewModel.updateWagon(viewModel.currentWagon)" data-ng-disabled="wagonForm.$invalid">
          <span class="glyphicon glyphicon-ok"></span>
          <span>Cập nhật</span>
        </button>

        <button class="btn btn-default negative-btn" data-ng-click="viewModel.$location.path('/ql-toa-hang/toa-hang')">
          <span class="glyphicon glyphicon-remove"></span>
          <span>Hủy</span>
        </button>
      </div>
    </div>
  </div>
</div>