<div id="customerInfo" class="bootstrap">
	<div class="container">
    <div class="form-detail">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="text-center">KHÁCH HÀNG - {{viewModel.currentCustomer.fullName}}</h2>
        </div>
      </div>
      <div class="row margin-top-20">
        <div class="col-sm-3">
          <p class="bold-text">Số điện thoại:</p>
        </div>
        <div class="col-sm-9">
          <p>{{viewModel.currentCustomer.phoneNo}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <p class="bold-text">Xếp loại:</p>
        </div>
        <div class="col-sm-9">
          <p>{{viewModel.currentCustomer.type}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <p class="bold-text">Số phát sinh:</p>
        </div>
        <div class="col-sm-9">
          <p>{{viewModel.currentCustomer.totalOwned | currency: "" : 0}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <p class="bold-text">Tổng trả:</p>
        </div>
        <div class="col-sm-9">
          <p>{{viewModel.currentCustomer.totalPay | currency: "" : 0}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <p class="bold-text">Còn nợ lại:</p>
        </div>
        <div class="col-sm-9">
          <p>{{viewModel.currentCustomer.totalDebt | currency: "" : 0}}</p>
        </div>
      </div>
    </div>

    <div class="row margin-bottom-20">
      <div class="col-sm-12">
        <button class="btn btn-default" data-ng-click="viewModel.$location.path('/ql-toa-hang/khach-hang')">
          <span class="glyphicon glyphicon-arrow-left"></span>
          <span>Quay lại</span>
        </button>

        <button class="btn btn-default" data-ng-click="viewModel.$location.path('/ql-toa-hang/khach-hang/sua/' + viewModel.currentCustomer.id)">
          <span class="glyphicon glyphicon-pencil"></span>
          <span>Sửa khách hàng</span>
        </button>

        <button class="btn btn-default" data-ng-click="viewModel.removeCustomerInDetail(viewModel.currentCustomer)">
          <span class="glyphicon glyphicon-trash"></span>
          <span>Xóa khách hàng</span>
        </button>
      </div>
    </div>
	</div>
</div>