<div id="employeeFormSection" class="bootstrap form">
	<div class="container">
		<form name="employeeForm">
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="fullName">Họ tên<span class="required-symbol">*</span></label>
						<span class="required-field" ng-if="employeeForm.fullName.$touched && employeeForm.fullName.$invalid">('Họ tên' phải được nhập)</span>
						<input id="fullName" name="fullName" class="form-control" type="text" ng-model="viewModel.currentCustomer.fullName" required>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="area">Khu vực<span class="required-symbol">*</span></label>
						<span class="required-field" ng-if="employeeForm.area.$touched && employeeForm.area.$invalid">('Khu vực' phải được chọn)</span>
						<select id="area" class="form-control" data-ng-model="viewModel.currentCustomer.area">
							<option value="">--Chọn khu vực--</option>
							<option ng-repeat="area in viewModel.areas">{{area}}</option>
						</select>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="phoneNo">Số Điện Thoại<span class="required-symbol">*</span></label>
						<span class="required-field" ng-if="employeeForm.phoneNo.$touched && employeeForm.phoneNo.$invalid">('Số Điện Thoại' phải được nhập)</span>
						<input id="phoneNo" name="phoneNo" class="form-control" pattern="[0-9]+" type="text" ng-model="viewModel.currentCustomer.phoneNo" required>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="address">Nhân viên chịu trách nhiệm</label>
						<select ui-select2 id="employeeId" class="form-control ui-select-2" data-ng-model="viewModel.currentCustomer.employeeId">
							<option value="">--Chọn tài xế--</option>
							<option ng-repeat="employee in viewModel.employeeList" value="{{employee.id}}">{{employee.fullName}}</option>
						</select>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="totalOwned">Số Phát Sinh</label>
						<input id="totalOwned" name="mobile" class="form-control" type="text" maxlength="15" ng-model="viewModel.currentCustomer.totalOwnedFormated" data-ng-change="viewModel.setCurrencyFormat(viewModel.currentCustomer.totalOwnedFormated,'0')">
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="totalPay">Tổng trả</label>
						<input id="totalPay" name="totalPay" class="form-control" type="text" maxlength="15" ng-model="viewModel.currentCustomer.totalPayFormated" data-ng-change="viewModel.setCurrencyFormat(viewModel.currentCustomer.totalPayFormated,'1')">
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="totalDebt">Còn nợ lại</label>
						<input id="totalDebt" name="totalDebt" class="form-control" type="text" maxlength="15" ng-model="viewModel.currentCustomer.totalDebtFormated" data-ng-change="viewModel.setCurrencyFormat(viewModel.currentCustomer.totalDebtFormated,'2')">
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="type">Xếp loại</label>
						<select id="type" class="form-control" data-ng-model="viewModel.currentCustomer.type">
							<option value="">--Chọn loại khách hàng--</option>
							<option value="a">A</option>
							<option value="b">B</option>
						</select>
					</div>
				</div>
			</div>

			<button class="btn btn-default positive-btn" data-ng-if="viewModel.$location.path() === '/ql-toa-hang/khach-hang/tao'"
							data-ng-click="viewModel.createCustomer(viewModel.currentCustomer)" data-ng-disabled="employeeForm.$invalid">
				<span class="glyphicon glyphicon-ok"></span>
				<span>Lưu</span>
			</button>

			<button class="btn btn-default positive-btn" data-ng-if="viewModel.$location.path() === '/ql-toa-hang/khach-hang/sua/' + viewModel.currentCustomer.id"
							data-ng-click="viewModel.updateCustomer(viewModel.currentCustomer)" data-ng-disabled="employeeForm.$invalid">
				<span class="glyphicon glyphicon-ok"></span>
				<span>Cập nhật</span>
			</button>

			<button class="btn btn-default negative-btn" data-ng-click="viewModel.$location.path('/ql-toa-hang/khach-hang')">
				<span class="glyphicon glyphicon-remove"></span>
				<span>Hủy</span>
			</button>

		</form>
	</div>

</div>