<div id="customerList" class="bootstrap view-page">
	<div class="container">
		<div class="row action-row">
			<div class="col-sm-9">
				<span>
					<label for="numOfCustomers">Hiển thị</label>
					<select id="numOfCustomers" class="form-control show-records-per-page" data-ng-model="viewModel.pageSize" data-ng-change="viewModel.initPagination()" convert-to-number>
						<option value="5">5</option>
						<option value="10">10</option>
						<option value="20">20</option>
						<option value="99999">All</option>
					</select>
				</span>
				<button type="button" class="btn btn-default" data-ng-click="viewModel.goToCustomerForm()">
					<span class="glyphicon glyphicon-plus"></span>
					<span class="hidden-xs">Tạo khách hàng mới</span>
				</button>
				<button type="button" class="btn btn-default" data-ng-click="viewModel.removeCustomers()">
					<span class="glyphicon glyphicon-trash"></span>
					<span class="hidden-xs">Xóa khách hàng</span>
				</button>
			</div>
			<div class="col-sm-3">
				<input class="form-control" type="text" data-ng-model="searchText" placeholder="Tìm kiếm nhanh" />
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<div class="table-responsive">
					<table class="table table-hover table-bordered">
						<thead>
							<tr>
								<th class="checkbox-width text-center">
									<input id="checkAllCustomers" type="checkbox" data-ng-model="viewModel.isCheckedAll"
												 data-ng-change="viewModel.selectAllCustomersOnPage()" />
								</th>
								<th class="text-center">Mã KH</th>
								<th class="col-sm-2 text-center">Tên KH</th>
								<th class="col-sm-1 text-center">Số điện thoại</th>
								<th class="col-sm-2 text-center">Số phát sinh</th>
								<th class="col-sm-2 text-center">Tổng trả</th>
								<th class="col-sm-2 text-center">Còn nợ lại</th>
							</tr>
						</thead>
						<tbody>
              <tr data-ng-if="viewModel.isLoading">
                <td class="text-center" colspan="7">
                  <i class="fa fa-spinner fa-spin"></i>
                </td>
              </tr>
							<tr data-ng-if="!viewModel.isLoading" class="pointer" data-ng-repeat="customer in viewModel.getCustomerListOnPage()"
									data-ng-click="viewModel.$location.path('/ql-toa-hang/khach-hang/' + customer.id)">
								<td class="text-center" data-ng-click="$event.stopPropagation();">
									<input id="customer-{{$index}}" type="checkbox" data-ng-model="customer.isChecked" />
								</td>
								<td>{{customer.code}}</td>
								<td>{{customer.fullName}}</td>
								<td>{{customer.phoneNo}}</td>
								<td class="text-right">{{customer.totalOwned.toLocaleString()}}</td>
								<td class="text-right">{{customer.totalPay.toLocaleString()}}</td>
								<td class="text-right">{{customer.totalDebt.toLocaleString()}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<nav aria-label="navigation" data-ng-if="viewModel.numOfPages > 0">
					<ul class="pagination">
						<li class="pointer" ng-class="{'disabled': viewModel.currentPage === 1}"
								data-ng-click="viewModel.goToPreviousPage()">
							<a aria-label="Previous">
								<span aria-hidden="true">&laquo;</span>
							</a>
						</li>

						<li class="pointer" data-ng-repeat="pageIndex in viewModel.getNumberPage() track by $index"
								data-ng-click="viewModel.goToPage($index + 1)"
								ng-class="{'active': $index + 1 === viewModel.currentPage}">
							{{pageIndex}}
							<span>{{$index + 1}}</span>
						</li>

						<li class="pointer" ng-class="{'disabled': viewModel.currentPage >= viewModel.numOfPages}"
								data-ng-click="viewModel.goToNextPage()">
							<a aria-label="Next">
								<span aria-hidden="true">&raquo;</span>
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>

	</div>
</div>