<div id="employeeFormSection" class="bootstrap form">
	<div class="container">
		<form name="employeeForm">
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="fullName">Họ tên <span class="required-symbol">*</span></label>
						<span class="required-field" ng-if="employeeForm.fullName.$touched && employeeForm.fullName.$invalid">(Họ tên phải được nhập)</span>
						<input id="fullName" name="fullName" class="form-control" type="text" ng-model="viewModel.currentEmployee.fullName" required>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="mobile">Số điện thoại <span class="required-symbol">*</span></label>
						<span class="required-field" ng-if="employeeForm.mobile.$touched && employeeForm.mobile.$invalid">(Số ĐT phải được nhập)</span>
						<input id="mobile" name="mobile" class="form-control" type="text" pattern="[0-9]+" ng-model="viewModel.currentEmployee.mobile" required>


					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="idNumber">CMND </label>
						<input id="idNumber" name="idNumber" class="form-control" type="text" ng-model="viewModel.currentEmployee.cardId">
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="address">Địa chỉ</label>
						<input id="address" name="address" class="form-control" type="text" ng-model="viewModel.currentEmployee.address">
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">


						<label for="title">Chức vụ</label>
						<select id="title" class="form-control" data-ng-model="viewModel.currentEmployee.title">
							<option value="">--Chọn chức vụ--</option>
							<option ng-repeat="title in viewModel.titles">{{title}}</option>
						</select>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="driverLicenseRank">Hạng (GPLX)</label>
						<input id="driverLicenseRank" name="driverLicenseRank" class="form-control" type="text" ng-model="viewModel.currentEmployee.driverLicenseRank">
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="driverLicenseAddress">Nơi cấp (GPLX)</label>
						<input id="driverLicenseAddress" name="driverLicenseAddress" class="form-control" type="text" ng-model="viewModel.currentEmployee.driverLicenseAddress">
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="driverLicenseId">Số GPLX</label>
						<input id="driverLicenseId" name="driverLicenseId" class="form-control" type="text" ng-model="viewModel.currentEmployee.driverLicenseId">
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="driverLicenseDate">Ngày cấp (GPLX)</label>
            <datepicker class="date-picker" date-format="dd/MM/yyyy">
              <input id="driverLicenseDate" class="form-control" name="driverLicenseDate" type="text" ng-model="viewModel.currentEmployee.driverLicenseDate">
            </datepicker>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="driverLicenseExpirationDate">Ngày hết hạn (GPLX)</label>
            <datepicker class="date-picker" date-format="dd/MM/yyyy">
              <input id="driverLicenseExpirationDate" class="form-control" name="driverLicenseExpirationDate" type="text" ng-model="viewModel.currentEmployee.driverLicenseExpirationDate">
            </datepicker>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="startDate">Ngày bắt đầu làm việc</label>
            <datepicker class="date-picker" date-format="dd/MM/yyyy">
              <input id="startDate" class="form-control" name="startDate" type="text" ng-model="viewModel.currentEmployee.startDate">
            </datepicker>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="violation">Vi phạm</label>
						<input id="violation" name="violation" class="form-control" type="text" ng-model="viewModel.currentEmployee.violation"/>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="notes">Ghi chú</label>
						<textarea id="notes" name="notes" class="form-control" type="text" ng-model="viewModel.currentEmployee.notes"></textarea>

					</div>
				</div>
				<div class="col-sm-6">
				</div>
			</div>

		</form>

		<button class="btn btn-default positive-btn" data-ng-if="viewModel.$location.path() === '/ql-toa-hang/nhan-vien/tao'"
						data-ng-click="viewModel.createEmployee(viewModel.currentEmployee)" data-ng-disabled="employeeForm.$invalid">
			<span class="glyphicon glyphicon-ok"></span>
			<span>Lưu</span>
		</button>

		<button class="btn btn-default positive-btn" data-ng-if="viewModel.$location.path() === '/ql-toa-hang/nhan-vien/sua/' + viewModel.currentEmployee.id"
						data-ng-click="viewModel.updateEmployee(viewModel.currentEmployee)" data-ng-disabled="employeeForm.$invalid">
			<span class="glyphicon glyphicon-ok"></span>
			<span>Cập nhật</span>
		</button>

		<button class="btn btn-default negative-btn" data-ng-click="viewModel.$location.path('/ql-toa-hang/nhan-vien')">
			<span class="glyphicon glyphicon-remove"></span>
			<span>Hủy</span>
		</button>

	</div>
</div>