<div id="employeeFormSection" class="bootstrap form">
  <div class="container">
    <form name="employeeForm">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="fullName">Họ và tên <span class="required-symbol">*</span></label>
            <span class="required-field" ng-if="employeeForm.fullName.$touched && employeeForm.fullName.$invalid">('Họ và tên' is required or invalid)</span>
            <input id="fullName" name="fullName" class="form-control" type="text" ng-model="viewModel.currentUser.email" required>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="idNumber">CMND <span class="required-symbol">*</span></label>
            <span class="required-field" ng-if="employeeForm.idNumber.$touched && employeeForm.idNumber.$invalid">('CMND' is required or invalid)</span>
            <input id="idNumber" name="idNumber" class="form-control" type="text" ng-model="viewModel.currentUser.email" required>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="address">Địa chỉ</label>
            <input id="address" name="address" class="form-control" type="text" ng-model="viewModel.currentUser.email" required>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="mobile">Số điện thoại</label>
            <input id="mobile" name="mobile" class="form-control" type="text" ng-model="viewModel.currentUser.email" required>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="driverLicenseRank">Hạng (GPLX)</label>
            <input id="rankDriverLicense" name="rankDriverLicense" class="form-control" type="text" ng-model="viewModel.currentUser.email" required>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="driverLicenseId">Số GPLX</label>
            <input id="driverLicenseId" name="driverLicenseId" class="form-control" type="text" ng-model="viewModel.currentUser.email" required>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="driverLicenseAddress">Nơi cấp (GPLX)</label>
            <input id="driverLicenseAddress" name="driverLicenseAddress" class="form-control" type="text" ng-model="viewModel.currentUser.email" required>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="driverLicenseDate">Ngày cấp (GPLX)</label>
            <input id="driverLicenseDate" name="driverLicenseDate" class="form-control" type="text" ng-model="viewModel.currentUser.email" required>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="driverLicenseExpirationDate">Ngày hết hạn (GPLX)</label>
            <input id="driverLicenseExpirationDate" name="driverLicenseExpirationDate" class="form-control" type="text" ng-model="viewModel.currentUser.email" required>
          </div>
        </div>
        <div class="col-sm-6">
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="startDate">Ngày bắt đầu làm việc</label>
            <input id="startDate" name="startDate" class="form-control" type="text" ng-model="viewModel.currentUser.email" required>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="violation">Vi phạm</label>
            <input id="violation" name="violation" class="form-control" type="text" ng-model="viewModel.currentUser.email" required>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="notes">Ghi chú</label>
            <input id="notes" name="notes" class="form-control" type="text" ng-model="viewModel.currentUser.email" required>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="title">Chức vụ</label>
            <input id="title" name="title" class="form-control" type="text" ng-model="viewModel.currentUser.email" required>
          </div>
        </div>
      </div>
  </form>

  <button class="btn btn-default positive-btn" data-ng-if="viewModel.$location.path() === '/ql-toa-hang/nhan-vien/tao'"
          data-ng-click="viewModel.addUser(viewModel.currentUser)" data-ng-disabled="addUserForm.$invalid">
    <span class="glyphicon glyphicon-ok"></span><span>&nbsp;Save</span>
  </button>

  <button class="btn btn-default positive-btn" data-ng-if="viewModel.$location.path() === '/user/edit/' + viewModel.currentUser._id"
          data-ng-click="viewModel.updateUser(viewModel.currentUser)" data-ng-disabled="addUserForm.$invalid">
    <span class="glyphicon glyphicon-ok"></span><span>&nbsp;Update</span>
  </button>

  <button class="btn btn-default negative-btn" data-ng-click="viewModel.$location.path('/ql-toa-hang/nhan-vien')">
    <span class="glyphicon glyphicon-remove"></span><span>&nbsp;Cancel</span>
  </button>

</div>
</div>