<div id="qlToaHangPage" class="bootstrap">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="manage-box xe-box" data-ng-click="viewModel.goToTruckSection()">
          <i class="fa fa-truck icon" aria-hidden="true"></i>
          <h4>XE</h4>
        </div>
        <div class="manage-box nv-box long-box" data-ng-click="viewModel.goToEmployeeSection()">
          <i class="fa fa-users icon" aria-hidden="true"></i>
          <h4>NHÂN VIÊN</h4>
        </div>
        <div class="manage-box kh-box long-box no-margin-right" data-ng-click="viewModel.goToCustomerSection()">
          <i class="fa fa-vcard-o icon" aria-hidden="true"></i>
          <h4>KHÁCH HÀNG</h4>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="manage-box th-box long-box" data-ng-click="viewModel.goToWagonsSection()">
          <i class="fa fa-first-order icon" aria-hidden="true"></i>
          <h4>TOA HÀNG</h4>
        </div>
        <div class="manage-box qt-box long-box no-margin-right" data-ng-click="viewModel.goToSettlementSection()">
          <i class="fa fa-money icon" aria-hidden="true"></i>
          <h4>QUYẾT TOÁN (CÔNG NỢ)</h4>
        </div>
      </div>
    </div>

  </div>
</div>