<div id="employeeFormSection" class="bootstrap form">
	<div class="container">
		<form name="employeeForm">
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="customerId">Khách Hàng</label>
						<input id="customerId" name="customerId" class="form-control" type="text" ng-model="viewModel.currentWagonSettlement.customerId" disabled>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="date">Ngày Phát Sinh</label>
						<input id="date" name="date" class="form-control" type="text" ng-model="viewModel.currentWagonSettlement.date" disabled>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="paymentPlace">Nơi thanh toán</label>
						<input id="paymentPlace" name="paymentPlace" class="form-control" type="text" ng-model="viewModel.currentWagonSettlement.paymentPlace" disabled>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="paymentDate">Ngày giao dịch</label>
            <datepicker class="date-picker" date-format="dd/MM/yyyy">
              <input id="paymentDate" class="form-control" name="paymentDate" type="text" ng-model="viewModel.currentWagonSettlement.paymentDate">
            </datepicker>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="totalDebt">Nơi đi</label>
						<input id="departure" name="departure" class="form-control" type="text" ng-model="viewModel.currentWagonSettlement.departure" disabled>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="type">Nơi đến</label>
						<input id="unit" name="unit" class="form-control" type="text" ng-model="viewModel.currentWagonSettlement.destination" disabled>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="wagonId">Quyết toán toa hàng</label>
						<input id="wagonId" name="wagonId" class="form-control" type="text" ng-model="viewModel.currentWagonSettlement.wagonId" disabled>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="unit">Đơn vị tính</label>
						<input id="unit" name="unit" class="form-control" type="text" ng-model="viewModel.currentWagonSettlement.unit" disabled>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="quantity">Số lượng</label>
						<input id="quantity" name="quantity" class="form-control" type="text" ng-model="viewModel.currentWagonSettlement.quantity" disabled>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="unitPrice">Đơn giá</label>
						<input id="unitPrice" name="unitPrice" class="form-control" type="text" ng-model="viewModel.currentWagonSettlement.unitPrice" disabled>
					</div>
				</div>
			</div>



			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="totalDebt">Tổng Phí</label>
						<input id="departure" name="departure" class="form-control" type="text" ng-model="viewModel.currentWagonSettlement.totalAmount" disabled>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="payment">Đã thanh toán</label>
						<input id="payment" name="payment" class="form-control" type="text" ng-model="viewModel.currentWagonSettlement.payment" disabled>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="totalDebt">Chiết Khấu</label>
						<input id="discount" name="discount" class="form-control" type="text" ng-model="viewModel.currentWagonSettlement.discount" disabled>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="paymentRemain">Còn Lại</label>
						<input id="paymentRemain" name="paymentRemain" class="form-control" type="text" ng-model="viewModel.currentWagonSettlement.paymentRemain" disabled>
					</div>
				</div>
			</div>

			<button class="btn btn-default positive-btn" data-ng-if="viewModel.$location.path() === '/ql-toa-hang/quyet-toan/sua/' + viewModel.currentWagonSettlement.id"
							data-ng-click="viewModel.updateWagonSettlement(viewModel.currentWagonSettlement)" data-ng-disabled="employeeForm.$invalid">
				<span class="glyphicon glyphicon-ok"></span>
				<span>Cập nhật</span>
			</button>

			<button class="btn btn-default negative-btn" data-ng-click="viewModel.$location.path('/ql-toa-hang/quyet-toan')">
				<span class="glyphicon glyphicon-remove"></span>
				<span>Hủy</span>
			</button>

		</form>
	</div>

</div>