<div id="wagonSettlementInfo" class="bootstrap">
  <div class="container">
    
    <div class="row">
      <div class="col-sm-12">
        <h2 class="text-center">QUYẾT TOÁN TOA HÀNG - {{viewModel.currentWagonSettlement.wagonCode}}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <p><span class="bold-text">Khách hàng:</span> <span>{{viewModel.getCustomerCode(viewModel.currentWagonSettlement.customerId)}}</span></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <p><span class="bold-text">Ngày phát sinh:</span> <span>{{viewModel.currentWagonSettlement.date}}</span></p>
      </div>
    </div>
    <!--<div class="row">
      <div class="col-sm-12">
        <p><span class="bold-text">Người thu:</span> <span>{{viewModel.currentWagonSettlement.employeeId}}</span></p>
      </div>
    </div>-->
    <!--<div class="row">
      <div class="col-sm-12">
        <p><span class="bold-text">Quyết toán toa hàng:</span> <span>{{viewModel.currentWagonSettlement.wagonId}}</span></p>
      </div>
    </div>-->
    <div class="row">
      <div class="col-sm-12">
        <p><span class="bold-text">Đơn vị tính:</span> <span>{{viewModel.currentWagonSettlement.unit}}</span></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <p><span class="bold-text">Số lượng:</span> <span>{{viewModel.currentWagonSettlement.quantity.toLocaleString()}}</span></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <p><span class="bold-text">Đơn giá:</span> <span>{{viewModel.currentWagonSettlement.unitPrice.toLocaleString()}}</span></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <p><span class="bold-text">Nơi đi:</span> <span>{{viewModel.currentWagonSettlement.departure}}</span></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <p><span class="bold-text">Nơi đến:</span> <span>{{viewModel.currentWagonSettlement.destination}}</span></p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <p><span class="bold-text">Tổng Phí:</span> <span>{{viewModel.currentWagonSettlement.totalAmount.toLocaleString()}}</span></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <p><span class="bold-text">Đã thanh toán:</span> <span>{{viewModel.currentWagonSettlement.payment.toLocaleString()}}</span></p>
      </div>
    </div>

		<div class="row">
			<div class="col-sm-12">
				<p><span class="bold-text">Thanh toán mới:</span></p>
				<p data-ng-repeat="payment in viewModel.paymentList">{{payment.paymentDate}} _ {{payment.paymentAmount.toLocaleString()}}</p>
			</div>
		</div>



    <div class="row margin-bottom-20">
      <div class="col-sm-12">
          <button class="btn btn-default" data-ng-click="viewModel.$location.path('/ql-toa-hang/quyet-toan')">
            <span class="glyphicon glyphicon-arrow-left"></span>
            <span>Quay lại</span>
          </button>
					
				<button class="btn btn-default negative-btn" data-ng-click="viewModel.$location.path('/ql-toa-hang/quyet-toan/sua/' + viewModel.currentWagonSettlement.id)">
					<span class="glyphicon glyphicon-pencil"></span>
					<span>Sửa</span>
				</button>

				<button class="btn btn-default negative-btn" data-ng-click="viewModel.removeCustomerInDetail(viewModel.currentWagonSettlement)">
					<span class="glyphicon glyphicon-trash"></span>
					<span>Xóa</span>
				</button>
        </div>
    </div>

  </div>
</div>