<div id="wagonList" class="bootstrap view-page">
  <div class="container">
    <div class="row action-row">
      <div class="col-sm-9">
        <span>
          <label for="numOfTrucks">Hiển thị</label>
          <select id="numOfTrucks" class="form-control show-records-per-page" data-ng-model="viewModel.pageSize" data-ng-change="viewModel.initPagination()" convert-to-number>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="99999">All</option>
          </select>
        </span>
        <button type="button" class="btn btn-default" data-ng-click="viewModel.goToWagonForm()">
          <span class="glyphicon glyphicon-plus"></span>
          <span class="hidden-xs">Tạo toa hàng mới</span>
        </button>
        <button type="button" class="btn btn-default" data-ng-click="viewModel.removeWagons()">
          <span class="glyphicon glyphicon-trash"></span>
          <span class="hidden-xs">Xóa toa hàng</span>
        </button>
      </div>
      <div class="col-sm-3">
        <input class="form-control" type="text" data-ng-model="searchText" placeholder="Search" />
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="table-responsive">
          <table class="table table-hover table-bordered">
            <thead>
              <tr>
                <th class="align-center">
                  <input id="checkAllWagons" type="checkbox" data-ng-model="viewModel.isCheckedAll"
                         data-ng-change="viewModel.selectAllWagonsOnPage()"/>
                </th>
                <th class="align-center hidden-xs">Mã toa hàng</th>
                <th class="align-center">Ngày đi</th>
                <th class="align-center">Ngày đến</th>
                <th class="align-center hidden-xs">Mã xe</th>
                <th class="align-center hidden-xs">Tổng tiền hàng</th>
              </tr>
            </thead>
            <tbody>
              <tr class="pointer" data-ng-repeat="wagon in viewModel.getWagonListOnPage()"
                  data-ng-click="viewModel.$location.path('/ql-toa-hang/toa-hang/' + wagon.id)">
                <td class="align-center" data-ng-click="$event.stopPropagation();">
                  <input id="wagon-{{$index}}" type="checkbox" data-ng-model="wagon.isChecked" />
                </td>
                <td class="align-center hidden-xs">{{wagon.code}}</td>
                <td class="align-center">{{wagon.departDate}}</td>
                <td class="align-center">{{wagon.returnDate}}</td>
                <td class="align-center hidden-xs">{{wagon.truckId}}</td>
                <td class="align-center hidden-xs">Tinh toan</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <nav aria-label="navigation" data-ng-if="viewModel.numOfPages > 0">
          <ul class="pagination">
            <li class="pointer" ng-class="{'disabled': viewModel.currentPage === 1}" data-ng-click="viewModel.goToPreviousPage()">
              <a aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>

            <li class="pointer" data-ng-repeat="pageIndex in viewModel.getNumberPage() track by $index"
                data-ng-click="viewModel.goToPage($index + 1)" ng-class="{'active': $index + 1 === viewModel.currentPage}">
              <span>{{$index + 1}}</span>
            </li>

            <li class="pointer" ng-class="{'disabled': viewModel.currentPage >= viewModel.numOfPages}" data-ng-click="viewModel.goToNextPage()">
              <a aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

  </div>
</div>