<div id="wagonInfo" class="bootstrap">
  <div class="container">
    
    <div class="row form-detail">
      <div class="col-sm-12">
        
        <div class="row">
          <div class="col-sm-12">
            <h2 class="text-center">TOA HÀNG - {{viewModel.currentWagon.code}}</h2>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <h4 class="bold-text">THÔNG TIN:</h4>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-4">
                <p><span class="bold-text">Ngày đi:</span> <span>{{viewModel.currentWagon.departDate}}</span></p>
              </div>
              <div class="col-sm-4">
                <p><span class="bold-text">Ngày về:</span> <span>{{viewModel.currentWagon.returnDate}}</span></p>
              </div>
              <div class="col-sm-4">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <p><span class="bold-text">Mã xe:</span> <span>{{viewModel.currentWagon.truckId}}</span></p>
              </div>
              <div class="col-sm-4">
                <p><span class="bold-text">Số xe:</span> <span>{{viewModel.getTruckLicensePlate(viewModel.currentWagon.truckId)}}</span></p>
              </div>
              <div class="col-sm-4">
                <p><span class="bold-text">Lái xe:</span> <span>{{viewModel.getEmployeeName(viewModel.currentWagon.employeeId)}}</span></p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <h4 class="bold-text">KHÁCH HÀNG:</h4>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12" data-ng-repeat="wagonSettlement in viewModel.currentWagon.wagonSettlements">
            <div class="row">
              <div class="col-sm-4">
                <p><span class="bold-text">Mã khách hàng:</span> <span>{{wagonSettlement.id}}</span></p>
              </div>
              <div class="col-sm-4">
                <p><span class="bold-text">Đơn vị tính:</span> <span>{{wagonSettlement.unit}}</span></p>
              </div>
              <div class="col-sm-4">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <p><span class="bold-text">Nơi đi:</span> <span>{{wagonSettlement.departure}}</span></p>
              </div>
              <div class="col-sm-4">
                <p><span class="bold-text">Nơi đến:</span> <span>{{wagonSettlement.destination}}</span></p>
              </div>
              <div class="col-sm-4">

              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <p><span class="bold-text">Số lượng:</span> <span>{{wagonSettlement.quantity}}</span></p>
              </div>
              <div class="col-sm-4">
                <p><span class="bold-text">Đơn giá:</span> <span>{{wagonSettlement.unitPrice.toLocaleString()}}</span></p>
              </div>
              <div class="col-sm-4">
                <p><span class="bold-text">Thành tiền:</span> <span>{{wagonSettlement.totalAmount.toLocaleString()}}</span></p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <p><span class="bold-text">Ghi chú:</span> <span>{{wagonSettlement.notes}}</span></p>
              </div>
              <div class="col-sm-4">
              </div>
              <div class="col-sm-4">

              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <h4 class="bold-text">CHI PHÍ:</h4>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-4">
                <p><span class="bold-text">Phí xe:</span> <span>{{viewModel.currentWagon.costOfTruck.toLocaleString()}}</span></p>
              </div>
              <div class="col-sm-4">
                <p><span class="bold-text">Điện thoai + Dịch vụ:</span> <span>{{viewModel.currentWagon.costOfService.toLocaleString()}}</span></p>
              </div>
              <div class="col-sm-4">
                <p><span class="bold-text">Tăng bo xe:</span> <span>{{viewModel.currentWagon.costOfTangBoXe.toLocaleString()}}</span></p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <p><span class="bold-text">Biên bản phạt:</span> <span>{{viewModel.currentWagon.costOfPenalty.toLocaleString()}}</span></p>
              </div>
              <div class="col-sm-4">
                <p><span class="bold-text">Diễn giải phụ:</span> <span>{{viewModel.currentWagon.costOfExtra.toLocaleString()}}</span></p>
              </div>
              <div class="col-sm-4">
                <p><span class="bold-text">CỘNG CHI:</span> <span>Tính toán ...</span></p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <h4 class="bold-text">TIỀN THANH TOÁN VỚI CÔNG TY:</h4>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-4">
                <p><span class="bold-text">Tiền xe:</span> <span>{{viewModel.currentWagon.paymentOfTruck.toLocaleString()}}</span></p>
              </div>
              <div class="col-sm-4">
                <p><span class="bold-text">Sửa xe:</span> <span>{{viewModel.currentWagon.paymentOfRepairing.toLocaleString()}}</span></p>
              </div>
              <div class="col-sm-4">
                <p><span class="bold-text">Tiền dầu:</span> <span>{{viewModel.currentWagon.paymentOfOil.toLocaleString()}}</span></p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <p><span class="bold-text">Lượng:</span> <span>{{viewModel.currentWagon.paymentOfLuong.toLocaleString()}}</span></p>
              </div>
              <div class="col-sm-4">
                <p><span class="bold-text">Dịch vụ:</span> <span>{{viewModel.currentWagon.paymentOfService.toLocaleString()}}</span></p>
              </div>
              <div class="col-sm-4">
                <p><span class="bold-text">Hàng về:</span> <span>{{viewModel.currentWagon.paymentOfHangVe.toLocaleString()}}</span></p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <p><span class="bold-text">Trích 10%:</span> <span>{{viewModel.currentWagon.paymentOf10Percent}}</span></p>
              </div>
              <div class="col-sm-4">
                <p><span class="bold-text">Khác:</span> <span>{{viewModel.currentWagon.paymentOfOthers.toLocaleString()}}</span></p>
              </div>
              <div class="col-sm-4">
                <p><span class="bold-text">CỘNG:</span> <span>Tính toán ...</span></p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="row margin-bottom-20">
      <div class="col-sm-12">
          <button class="btn btn-default" data-ng-click="viewModel.$location.path('/ql-toa-hang/toa-hang')">
            <span class="glyphicon glyphicon-arrow-left"></span>
            <span>Quay lại</span>
          </button>
          <button class="btn btn-default" data-ng-click="viewModel.$location.path('/ql-toa-hang/toa-hang/sua/' + viewModel.currentWagon.id)">
            <span class="glyphicon glyphicon-pencil"></span>
            <span>Sửa toa hàng</span>
          </button>
          <button class="btn btn-default" data-ng-click="viewModel.removeWagonInDetail(viewModel.currentWagon)">
            <span class="glyphicon glyphicon-trash"></span>
            <span>Xóa toa hàng</span>
          </button>
          <button class="btn btn-default" data-ng-click="viewModel.exportWagonToExcel(viewModel.currentWagon)">
            <span class="glyphicon glyphicon-print"></span>
            <span>Xuất toa hàng</span>
          </button>
        </div>
    </div>

  </div>
</div>