<div id="wagonList" class="bootstrap view-page">
  <div class="container">
    <div class="row action-row">
      <div class="col-sm-9">
        <span>
          <label for="numOfTrucks">Hiển thị</label>
          <select id="numOfTrucks" class="form-control show-records-per-page" data-ng-model="viewModel.pageSize" data-ng-change="viewModel.initPagination()" convert-to-number>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="99999">All</option>
          </select>
        </span>
        <button type="button" class="btn btn-default" data-ng-click="viewModel.goToWagonForm()">
          <span class="glyphicon glyphicon-plus"></span>
          <span class="hidden-xs">Tạo toa hàng mới</span>
        </button>
        <button type="button" class="btn btn-default" data-ng-click="viewModel.removeWagons()">
          <span class="glyphicon glyphicon-trash"></span>
          <span class="hidden-xs">Xóa toa hàng</span>
        </button>
      </div>
      <div class="col-sm-3">
        <input class="form-control" type="text" data-ng-model="searchText" placeholder="Tìm kiếm nhanh" />
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="table-responsive">
          <table class="table table-hover table-bordered">
            <thead>
              <tr>
                <th class="checkbox-width text-center">
                  <input id="checkAllWagons" type="checkbox" data-ng-model="viewModel.isCheckedAll"
                         data-ng-change="viewModel.selectAllWagonsOnPage()"/>
                </th>
                <th class="text-center">Mã toa hàng</th>
                <th class="td-width-date text-center">Ngày đi</th>
                <th class="td-width-date text-center">Ngày đến</th>
                <th class="col-sm-2 text-center">Nơi đi</th>
                <th class="col-sm-2 text-center">Nơi đến</th>
                <th class="col-sm-2 text-center">Tổng tiền hàng</th>
                <th class="edit-column-width text-center">Sửa</th>
              </tr>
            </thead>
            <tbody>
              <tr data-ng-if="viewModel.isLoading">
                <td class="text-center" colspan="8">
                  <i class="fa fa-spinner fa-spin"></i>
                </td>
              </tr>
              <tr data-ng-if="!viewModel.isLoading" class="pointer" data-ng-repeat="wagon in viewModel.getWagonListOnPage()"
                  data-ng-click="viewModel.$location.path('/ql-toa-hang/toa-hang/' + wagon.id)">
                <td class="text-center" data-ng-click="$event.stopPropagation();">
                  <input id="wagon-{{$index}}" type="checkbox" data-ng-model="wagon.isChecked" />
                </td>
                <td>{{wagon.code}}</td>
                <td class="text-center">{{wagon.departDate}}</td>
                <td class="text-center">{{wagon.returnDate}}</td>
                <td>{{wagon.departure}}</td>
                <td>{{wagon.destination}}</td>
                <td class="text-right">{{viewModel.calculateTotalAmountWagonSettlements(wagon) | currency: "" : 0}}</td>
                <td class="text-center edit-column" data-ng-click="viewModel.goToWagonEditForm($event, wagon.id)">
                  <span class="glyphicon glyphicon-pencil"></span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <nav aria-label="navigation" data-ng-if="viewModel.numOfPages > 0">
          <ul class="pagination">
            <li class="pointer" ng-class="{'disabled': viewModel.currentPage === 1}" data-ng-click="viewModel.goToPreviousPage()">
              <a aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="pointer" data-ng-repeat="pageIndex in viewModel.getNumberPage() track by $index"
                data-ng-click="viewModel.goToPage($index + 1)" ng-class="{'active': $index + 1 === viewModel.currentPage}">
              <span>{{$index + 1}}</span>
            </li>
            <li class="pointer" ng-class="{'disabled': viewModel.currentPage >= viewModel.numOfPages}" data-ng-click="viewModel.goToNextPage()">
              <a aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

  </div>
</div>