<div id="truckFormSection" class="bootstrap form">
	<div class="container">
		<form name="truckForm">
			<div class="row">
				<div class="col-sm-4">
					<div class="form-group">
						<label for="licensePlate">Biển số xe <span class="required-symbol">*</span></label>
						<span class="required-field" ng-if="truckForm.licensePlate.$touched && truckForm.licensePlate.$invalid">(Biển số xe phải được nhập)</span>
						<input id="licensePlate" name="licensePlate" class="form-control" type="text" ng-model="viewModel.currentTruck.licensePlate" required>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="form-group">
						<label for="yearOfManufacture">Năm SX</label>
						<input id="yearOfManufacture" name="yearOfManufacture" class="form-control" type="number" pattern="[0-9]{4}" ng-model="viewModel.currentTruck.yearOfManufacture">
					</div>
				</div>
        <div class="col-sm-3">
          <div class="form-group">
            <label for="driverLicenseId">Nhãn hiệu</label>
            <input id="driverLicenseId" name="driverLicenseId" class="form-control" type="text" ng-model="viewModel.currentTruck.brand">
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label for="weight">Tải trọng (tấn)</label>
            <input id="weight" name="weight" class="form-control" type="number" ng-model="viewModel.currentTruck.weight">
          </div>
        </div>
			</div>

			<div class="row">
				<div class="col-sm-3">
					<div class="form-group">
						<label for="address">Số khung</label>
						<input id="address" name="address" class="form-control" type="text" ng-model="viewModel.currentTruck.vin">
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label for="mobile">Số máy</label>
						<input id="mobile" name="mobile" class="form-control" type="text" ng-model="viewModel.currentTruck.engineNo">
					</div>
				</div>
        <div class="col-sm-3">
          <div class="form-group">
            <label for="driverLicenseExpirationDate">Tài xế chịu trách nhiệm</label>
            <select ui-select2 id="employeeId" class="form-control ui-select-2" data-ng-model="viewModel.currentTruck.employeeId">
              <option value="">--Chọn tài xế--</option>
              <option ng-repeat="employee in viewModel.employeeList" value="{{employee.id}}">{{employee.fullName}}</option>
            </select>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label for="monthlyPaymentFormated">Tiền thanh toán hàng tháng</label>
            <input id="monthlyPaymentFormated" name="monthlyPaymentFormated" class="form-control" type="text" maxlength="15"
                   ng-model="viewModel.monthlyPaymentFormated" data-ng-change="viewModel.setCurrencyFormat(viewModel.monthlyPaymentFormated)">
          </div>
        </div>
			</div>

			<div class="row">
				<div class="col-sm-2">
					<div class="form-group">
						<label for="violation">Ngày mua</label>
            <datepicker class="date-picker" date-format="dd/MM/yyyy">
              <input id="violation" class="form-control" name="violation" type="text" ng-model="viewModel.currentTruck.buyingDate">
            </datepicker>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="form-group">
						<label for="startUsingDate">Ngày lưu hành</label>
            <datepicker class="date-picker" date-format="dd/MM/yyyy">
              <input id="startUsingDate" class="form-control" name="startUsingDate" type="text" ng-model="viewModel.currentTruck.startUsingDate">
            </datepicker>
          </div>
				</div>
        <div class="col-sm-2">
          <div class="form-group">
            <label for="title">Bảo hiểm đến</label>
            <datepicker class="date-picker" date-format="dd/MM/yyyy">
              <input id="insuranceDate" class="form-control" name="insuranceDate" type="text" ng-model="viewModel.currentTruck.insuranceDate">
            </datepicker>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label for="title">Ngày đăng kiểm gần nhất</label>
            <datepicker class="date-picker" date-format="dd/MM/yyyy">
              <input id="checkDate" class="form-control" name="checkDate" type="text" ng-model="viewModel.currentTruck.checkDate">
            </datepicker>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label for="stock">Cổ phần (%)</label>
            <input id="stock" name="stock" class="form-control" type="number" ng-model="viewModel.currentTruck.stock">
          </div>
        </div>
			</div>

			<button class="btn btn-default positive-btn" data-ng-if="viewModel.$location.path() === '/ql-toa-hang/xe/tao'"
							data-ng-click="viewModel.createTruck(viewModel.currentTruck)" data-ng-disabled="truckForm.$invalid">
				<span class="glyphicon glyphicon-ok"></span>
				<span>Lưu</span>
			</button>

			<button class="btn btn-default positive-btn" data-ng-if="viewModel.$location.path() === '/ql-toa-hang/xe/sua/' + viewModel.currentTruck.id"
							data-ng-click="viewModel.updateTruck(viewModel.currentTruck)" data-ng-disabled="truckForm.$invalid">
				<span class="glyphicon glyphicon-ok"></span>
				<span>Cập nhật</span>
			</button>

			<button class="btn btn-default negative-btn" data-ng-click="viewModel.$location.path('/ql-toa-hang/xe')">
				<span class="glyphicon glyphicon-remove"></span>
				<span>Hủy</span>
			</button>

		</form>
	</div>
</div>